.issue-grid .textarea {
	border-spacing: none !important;
	border-radius: 5px;
	width: 95%;
	height: 200px !important;
	overflow-y: auto;
	padding: 10px 10px 5px 10px !important; 
	background: #ffffff !important; 
	font-size: 15px !important;
	font-family: Georgia !important; 
	font-style: italic !important;
	margin-right: 0px !important;
	margin-top: 0px !important;
	text-align: justify;
	position: relative !important;
	left: 0px;
	border-color: #cccccc !important;
}

.issue-grid input {
	width: inherit;
}

.issue-grid .leftClm {
	width: 560px; 
	vertical-align: top;
}

.issue-grid .rightClm {
	vertical-align: top;
}

.issue-grid .portraitClm {
	width: 200px; 
	text-align: center; 
	vertical-align: top;
}

.issue-grid .textClm {
	padding-top: 0px; 
	vertical-align: top;
}

.issue-grid .answered {
	font-weight: normal;
}

.issue-grid .not-answered {
	font-weight: bold;
}

.issue-grid .orange-alert div {
	color: orange !important;
}

.issue-grid .red-alert div {
	color: red !important;
}

.issue-cmds {
	width: 100%;
}

.issue-cmds .label {
	width: 100px;
	vertical-align: middle;
}

.issue-cmds .labelClm label {
	color: inherit;
	display: inherit;
}

.issue-cmds .fieldClm {
	vertical-align: middle;
}

.issue-cmds .ui-selectonemenu {
	width: 180px;
}

.issue-grid .dialog-buttons-grid {
	float: right;
}

.issue-grid .dialog-buttons-grid td {
	padding-right: 0px !important;
}