.repo-cmds {width: 100%;} 
.repo-cmds-left {}
.repo-cmds-right {}

.ui-datagrid .ui-datagrid-header {
	text-align: left !important;	
}

.ui-datagrid .ui-datagrid-column {
	margin-right: 10px;
	margin-bottom: 10px;
}

.folder-grid {
	padding: 10px;
}

.folder-grid a:hover{
	text-decoration: none;
}

.folder-grid .ui-panel {
	width: 100%;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc;
	-moz-box-shadow: 1px 2px 3px 0px #cccccc;
	box-shadow: 1px 2px 3px 0px #cccccc;
	background-color: #f9f9f9;
	border: none !important;
}

.folder-grid .ui-panel .ui-panel-content {
	background: url("../images/folder.png") no-repeat;
	background-size: 33px 33px;
	padding-left: 40px;
	padding-right: 0px;
	margin: 3px;
	font-size: 13px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.file-grid {
	padding: 10px;	
}

.file-grid a:hover{
	text-decoration: none;
}

.file-grid .ui-panel {
	width: 100%;
	background: none;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc;
	-moz-box-shadow: 1px 2px 3px 0px #cccccc;
	box-shadow: 1px 2px 3px 0px #cccccc;
	background-color: #f9f9f9 !important;
	border: none !important;
	padding: 0;
}

.file-grid .ui-panel .ui-panel-content {
	padding: 0;
	height: 130px;
	overflow: hidden;
	display: flex;
    align-items: center;
    justify-content: center;
}

.file-grid .ui-panel .ui-panel-footer {
	font-size: 13px;
	font-weight: bold;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 0;
	background-color: white;
}

.file-grid .ui-panel.file-selected .ui-panel-footer {
	background-color: #8AB4F9;
}

.file-dialog {
	background-color: rgba(0,0,0,0.6) !important;
	height: 100vh !important;
	width: 100% !important;
	left: 0px !important;
}

.file-dialog .ui-dialog-titlebar {
	background-image: none;
	background-color: #1d1d1d;
	border: none; 
}

.file-dialog .ui-dialog-content {
	padding: 0 !important;
	overflow: hidden !important;
}

.file-dialog .ui-dialog-title {
	width: 97%;
	margin: .3em 0px .1em 0 !important;
}

.file-dialog .ui-dialog-titlebar-close.ui-state-hover {
	background: none;
	border: none;
}

.file-dialog .ui-dialog-titlebar-close:hover {
	padding: 1px !important;
	webkit-box-shadow: none;
    box-shadow: none;
}

.file-dialog .ui-dialog-titlebar-close span {
	background-image: url("../images/close.png");
}

.file-dialog .ui-icon-closethick {
	background-position: 0px 0px;
	width: 21px;
	height: 21px;
}

.file-dialog .ui-datatable-scrollable-body {
	height: 100vh;
}

.file-dialog .ui-datatable-scrollable-header {
	display: none;
}

.search-field {
	float: right;
	padding-right: 50px !important;
	width: 500px !important;
}

.search-button {
	position: absolute !important;
	right: 55px;
}

.ui-panel.folder-selected {background-color: #8AB4F9; }

.ui-panel.dialog-buttons-grid {
	float: right;
	margin: 0px 10px;
	padding: 0;
}

.ui-panel.dialog-buttons-grid .ui-panel-content {
	padding: 0;
	margin: 0;
}

.ui-layout-unit .ui-layout-unit-content {
	overflow: hidden !important;
}

.ui-layout-pane-east .ui-layout-unit-header {
	float: left !important;
	height: 100vh !important;
	display: flex !important;
	align-items: center !important;
	-webkit-border-radius: 0 !important; 
	-moz-border-radius: 0 !important;
	padding: 0 !important;
	width: 25px;
}

.ui-layout-pane-east .ui-layout-unit-header-icon {
	background: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
	margin: 0 auto;
}

.ui-layout-unit-header-icon:hover {
	margin-top: 0 !important;
	margin-right: auto !important;
}

.ui-layout-pane-east {
	padding: 0 !important;
}

.ui-layout-pane-east .ui-layout-unit-header-title {
	display: none !important;
}

.ui-layout-toggler-east-closed {
	height: 100vh !important;
	display: flex !important;
	align-items: center !important;
	background: #c4c4c4 -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(255,255,255,0))) !important;
	border: 1px solid #a8a8a8 !important;
	padding: 0 !important;
}

.ui-layout-unit-expand-icon {
	position: relative !important;
	background: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-icon-arrow-4-diag {
	background-position:-96px -16px !important;
}

.file-props-label {
	width: 40%;
}

.file-props-value .ui-selectonemenu {
	width: 87%;
	min-width: 0px !important;
}

