.jcondo-booking-portlet .portlet-content-container .portlet-body {
	padding: 15px;
}

.main-grid {
	width: 100%; 
	margin: 0;
}

.bookings-grid {
	width: 35% !important;
	vertical-align: top;
	padding: 0px 5px 0px 0px !important;
}

.rooms-grid {
	width: 65% !important;
	vertical-align: top;
	padding: 0px 0px 0px 5px !important;
}

.rooms-grid .ui-tabs .ui-tabs-panel {
	padding: 0px !important;
}

.calendar-grid {
	vertical-align: top;
	padding: 10px !important;
}

.room-info-grid {
	vertical-align: top;
	font-size: 15px !important;
	padding: 10px !important;
}

.room-blockade {
	background-image: url("../images/ban.png") !important;
	background-repeat: no-repeat !important;
	background-position: 20px 32px !important;
}

.room-0 {
	background-image: url("../images/barbecure.png") !important;
	background-repeat: no-repeat !important;
}

.room-1 {
	background-image: url("../images/oven.png") !important;
	background-repeat: no-repeat !important;
}

.room-2 {
	background-image: url("../images/cinema.png") !important;
	background-repeat: no-repeat !important;
}

.room-3 {
	background-image: url("../images/gourmet.png") !important;
	background-repeat: no-repeat !important;
}

.room-4 {
	background: url("../images/party.png") !important;
	background-repeat: no-repeat !important;
}

.room-5 {
	background-image: url("../images/office.png") !important;	
	background-repeat: no-repeat !important;
}

/* ---------- Cancelled Booking Icons ---------- */
.calendar-room {
	background-position: 20px 32px !important;
}

.cld-calendar-room {
	background-position: 20px -32px !important;
}

.my-bookings-room {
	background-position: 0px 3px !important;
}

.cld-my-bookings-room {
	background-position: 0px -60px !important;
}

.room-position {
	background-position: 0px 0px !important;
}


.fc-event-skin {
	background: none;
}
	
.fc-event {
	border: none;
	background-color: #cccccc;

}

.fc-event-inner {
	border: 0px solid black;
	height: 100%;
	padding: 1px 0px 0px 34px;
	font-weight: bold;
	font-size: 11px;
	overflow: visible;
	color: black;
	cursor: pointer;
}

.fc-event:hover {
}

.fc-border-separate .ui-widget-header {
	font-size: 16px;
}

.fc-day-number {
	font-family: Georgia;
	font-weight: bold;
	font-size: 18px;
}

.fc-day-number2 {
	font-family: Georgia;
	font-weight: bold;
	font-size: 18px;
	background-color: orange !important;
	width:  100% !important;
	text-align: right;
}

.fc-event-time {
	display: none;
}

.fc-day-content3 {
	background-color: orange !important;
	line-height:  100% !important;
	height: 70px !important;
}

.ui-state-default3 {
	background-color: green !important;
}

.booked-date {
	background-color: orange !important;
}

.jcondo-booking-portlet .ui-datepicker {
	width: 500px !important;
	height: 100% !important;padding: 0px 0px !important;
}

.jcondo-booking-portlet .ui-datepicker .ui-state-default {
	color: #797979 !important; text-align: center !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}

.jcondo-booking-portlet .ui-datepicker-prev, .ui-datepicker-next {color: white !important; padding: 6px !important;}
.jcondo-booking-portlet .ui-datepicker-next {background-position:-32px -160px !important;}

.jcondo-booking-portlet .ui-datepicker-header {
	padding: 8px !important;
}

.jcondo-booking-portlet .ui-datepicker-calendar {
	height: 100% !important;
}

.jcondo-booking-portlet .ui-datepicker-calendar td {
	text-align: right !important;
}

.jcondo-booking-portlet .ui-datepicker td .ui-state-hover {
	background: #35516d !important; 
	color: #ffffff !important;
}

.jcondo-booking-portlet .ui-datepicker-calendar td a, .jcondo-booking-portlet .ui-datepicker-calendar td span {
	height: 70px !important;
	font-family: Georgia;
	font-size: 18px;
	padding: 0px 0px 0px 30px !important;
	margin: 0px !important;
	text-align: right !important;
	vertical-align: middle !important;
	border: 1px solid !important;
}

.jcondo-booking-portlet .ui-datepicker-calendar .ui-state-active, .jcondo-booking-portlet .ui-datepicker-calendar .ui-state-hover {
	opacity: 0.5 !important;
  	filter: alpha(opacity=50) !important;
}

.ui-datepicker {
	padding: 0px !important;
}

.ui-datepicker .ui-state-default {
	color: #797979 !important; text-align: center !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
}

.ui-datepicker-prev, .ui-datepicker-next {color: white !important; padding: 6px !important;}
.ui-datepicker-next {background-position:-32px -160px !important;}
.jcondo-rooms-portlet .ui-datepicker-title {padding-right: 15px !important;}

.ui-datepicker td .ui-state-hover {
	background: #35516d !important; 
	color: #ffffff !important;
}

.ui-datepicker-calendar td a, .ui-datepicker-calendar td span {
	font-family: Georgia !important;
	vertical-align: middle !important;
	border: 1px solid !important;
}

.ui-datepicker-calendar .ui-state-active, .ui-datepicker-calendar .ui-state-hover {
	opacity: 0.5 !important;
  	filter: alpha(opacity=50) !important;
}

.column-10 {width: 10% !important;}
.column-15 {width: 15% !important;}
.column-20 {width: 20% !important; padding-left: 0px !important; padding-right: 0px !important;}
.column-25 {width: 25% !important; padding-left: 0px !important; padding-right: 0px !important;}
.column-30 {width: 30% !important; padding-left: 0px !important; padding-right: 0px !important;}
.column-35 {width: 30% !important;}
.column-20-a {width: 20% !important;}
.column-30-a {width: 30% !important;}
.column-35-a {width: 35% !important;}


.column-30-top {width: 35% !important; vertical-align: top;}
.column-70-top {width: 65%; vertical-align: top;}
.column-40 {width: 40% !important;}
.column-60 {width: 60%; text-align: right;}
.column-50-top {width: 50%; vertical-align: top;}
.column-top-a {
	vertical-align: top;
}
.column-top {
	vertical-align: top;
	text-align: justify;
}

.margin-left-10 {padding-right: 20px !important;}

.room-images .ui-dialog-titlebar {
	border: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	background: none !important;
}

.room-images .ui-dialog-titlebar-close {
	position: absolute !important;
	z-index: 9999999999999999 !important;
	right: 0px;
	top: 0px !important;
	padding: 3px !important;
	border: 1px solid #a8a8a8 !important;
	background-color: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.8)), to(rgba(255,255,255,0))) !important;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.7) !important;
}

.room-images .ui-dialog-titlebar-close span {
	background-color: transparent !important; 
}

.room-images .ui-dialog-title {
	display: none !important;
}

/* Main container element */
div .ui-fileupload {
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;
	border: 1px dashed #cccccc !important;
}

.ui-fileupload>div {
	background: none !important;border: none !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border: none !important;			
	text-align: center !important;

}
 
/* Button bar */
.fileupload-buttonbar {
	margin: 0 !important; 
	border: none !important;text-shadow: none !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;
	background: none !important;
}

.ui-fileupload-choose {
	width: 33px; height: 31px; background: none !important; 
	margin: 16px !important; 
	padding: 0 !important; left: 0 !important;
	border: none !important; text-shadow: none !important;
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
}

.ui-fileupload-choose input {
	border: none !important; 
	width: 50px;text-shadow: none !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
}

.ui-fileupload-choose .ui-icon-plusthick {
	background: url("/jcondo-manager-portlet/images/send-pic.png") 0px 0px !important; 
	width: 33px; height: 31px; line-height: 31px;
	position: relative !important;
	margin-top: 0 !important;text-shadow: none !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	border: none !important;
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
}

.ui-fileupload-choose .ui-button-text {
	display: none !important;
 }
 
.ui-fileupload-files {
	position: absolute; z-index: 9999999999999999; top: 0%; left: 0%; 
	background: #ffffff !important;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc; -moz-box-shadow: 1px 2px 3px 0px #cccccc; box-shadow: 1px 2px 3px 0px #cccccc;
	border-radius: 5px !important; -webkit-border-radius: 5px !important; -moz-border-radius: 5px !important;
}

.ui-fileupload-files td {
	padding: 0px !important;
	vertical-align: middle;
}

.agreement-term .ui-fileupload-choose .ui-icon-plusthick {
	background: url("/jcondo-booking-portlet/images/upload.png") 0px 0px !important; 
	width: 33px; height: 31px; line-height: 31px;
	position: relative !important;
	margin-top: 0 !important;text-shadow: none !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	border: none !important;
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
}

.agreement-term .ui-fileupload-buttonbar {
	padding: 0 !important;
	margin: 0 !important; 
}

.agreement-term .ui-fileupload-choose {
	margin: 0 !important; 
	padding: 0 !important; left: 0 !important;
	border: none !important; text-shadow: none !important;
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border-radius: 0 !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
}

.agreement-term.ui-fileupload {
	background: none !important;border: none !important;
	padding: 0 !important;
	margin: 0 !important; 
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border: none !important;			
	text-align: center !important;

}


.ui-spinner {
	padding-right: 15px !important;	
}

.ui-selectonemenu4 {
	vertical-align: bottom !important;
}

.ui-selectonemenu-label4 {
	background: #fdfdfd !important;
	padding: 5px 0px 5px 5px !important;
	box-shadow: none !important;
	width: 95% !important;
}

.ui-selectonemenu-label4:focus {
    outline: none !important;
    border-color: #90b2e9 !important;
	-webkit-box-shadow: 0 0 10px #90b2e9 !important;
	-moz-box-shadow: 0 0 10px #90b2e9 !important;
	box-shadow: 0 0 10px #90b2e9 !important;
}

.ui-selectonemenu-label4:hover {
    outline: none !important;
    border-color: #90b2e9 !important;
	-webkit-box-shadow: 0 0 10px #90b2e9 !important;
	-moz-box-shadow: 0 0 10px #90b2e9 !important;
	box-shadow: 0 0 10px #90b2e9 !important;
}


.ui-row-editor .ui-icon {
	background-position: center !important;
	height: 40px !important;
}

.ui-column-title {
	line-height: 25px !important;
}

.ui-row-editor .ui-icon-pencil {
	background-image: url("../images/edit.png") !important;
	width: 100% !important;
}

.ui-row-editor .ui-icon-check {
	background-image: url("../images/check.png") !important;
	width: 46% !important;
	background-position: right center !important;
	margin-right: 3px !important;
}

.ui-row-editor .ui-icon-close {
	background-image: url("../images/delete.png") !important;
	width: 46% !important;
	background-position: left center !important;
	margin-left: 3px !important;
}

.room-edit-images.ui-scrollpanel-native {
	height: 135px !important; 
	overflow-y:hidden; 
	overflow-x: scroll; 
	white-space: nowrap; 
	width: 580px !important;
}

.ui-datagrid-content {
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	text-align: center !important;
}

.elipsis .ui-panel-content {
 	white-space: nowrap !important; overflow: hidden !important; text-overflow: ellipsis !important; width: 310px;
 	vertical-align: middle !important;
}

.ui-messages {
	position: absolute !important;
	z-index: 9999999999999999;
	top: 40% !important;
	left: 20% !important;
	right: 20% !important;
}

.portal-popup, .page-maximized #main-content {margin: 0px !important; padding: 0px !important;}

.jcondo-rooms-portlet header {
	background: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border-top: none;
	border-bottom: none;
	border-color: #cccccc;
	background-color: #f2f2f2; 
	line-height: 10px;
	height: 10px;
}

.jcondo-rooms-portlet .portlet-title {
	display: none;
}

.jcondo-rooms-portlet .portlet-content {
	border-top: none;
}

.aui-tabview-list {
	border-top: none; border-left: none; border-right: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background: none;
	margin: 0;
}

.aui-tab-ative {
	border: 1px solid #a8a8a8 !important;
	border-bottom: 0;
	background: #fff;
	border-bottom: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.aui-tab-content {
	background: none !important;
	border: none !important; 
}

.aui-tab-label {
	font-family: Verdana;
	font-size: 12px;
	background: none !important;
	border: none !important; 
	color: #2f556a !important;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) !important;
    font-weight: bold !important;
}

/**** novos ****/

.dialog-buttons-grid {
	float: right;
}

.dialog-buttons-grid td {
	padding-right: 0px !important;
}

.booking-info-buttons .ui-button {
	width: 145px;
}

.guest-list-buttons .ui-button {
	width: 150px;
}

.booking-buttons .ui-button {
	width: 95px;
}

.booking-access-table h3 {
	font-size: 15px;
}

.booking-access-table .col-left {
	vertical-align: top;
	text-align: center;
	width: 30%;
}
.booking-access-table .col-right {
	vertical-align: top;
}