<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:form id="search-person-form">
		<p:panelGrid columns="4" style="width: 100%" styleClass="no-border no-background person-cmds" columnClasses="person-cmds-left,person-cmds-left,person-cmds-left,person-cmds-right">
			<h:outputText value="Nome: " style="vertical-align: top;"/>
			<p:inputText id="personName" widgetVar="personName" value="#{searchBean.name}"/>
			<h:outputText value="CPF: " style="vertical-align: top;"/>
			<p:inputMask id="personIdentity" widgetVar="personIdentity" value="#{searchBean.identity}" mask="999.999.999-99"/>
			<p:column></p:column><p:column></p:column><p:column></p:column>
			<p:commandButton value="Buscar" actionListener="#{searchBean.onPeopleSearch}" update="@widgetVar(searchPersonTable)"/>
		</p:panelGrid>

		<p:dataTable widgetVar="searchPersonTable" id="searchPersonTable" var="person" value="#{searchBean.people}"  
		             paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5"
		             paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}" currentPageReportTemplate="{totalRecords}" 
		             emptyMessage="Nenhuma pessoa encontrada" rowKey="#{person.id}" styleClass="no-header no-border" tableStyleClass="no-border">
		    <p:ajax event="page" global="false"/>
			<p:column style="width: 49px;">
				<p:panel id="personPortrait" styleClass="foto no-margin no-background" style="width: 43px !important; height: 66px !important">
					<p:graphicImage value="#{person.portrait.path}" height="66" width="43" cache="false" />
				</p:panel>
				<p:overlayPanel for="personPortrait" at="right" my="left" styleClass="foto no-margin" showEvent="mouseover" hideEvent="mouseout">
					<p:graphicImage value="#{person.portrait.path}" cache="false" />
				</p:overlayPanel>
			</p:column>
			<p:column style="vertical-align: top">
				<p:panelGrid columns="1" styleClass="no-background no-border">
	       			<h:outputText value="#{person.fullName}" style="font-size: 14px; color: black; font-weight: bold;"/>
	       			<p:panel styleClass="no-background no-border no-margin">
		       			<ui:repeat var="membership" value="#{person.memberships}" varStatus="m">
		       				<h:outputText value=" / " style="vertical-align: top; font-weight: normal;" rendered="#{m.index > 0}"/>
							<h:outputText value="#{msg[membership.type.label]}" style="vertical-align: top; font-weight: normal; font-style: italic"
							rendered="#{membership.type != 'EMPLOYEE'}"/>
		       				<h:outputFormat value=" - #{msg['flat.name']}" style="vertical-align: top; font-weight: normal; font-style: italic"
		       				rendered="#{membership.type == 'OWNER' or membership.type == 'RENTER' or membership.type == 'DEPENDENT' or membership.type == 'MANAGER'}">
		       					<f:param value="#{membership.domain.number}"/>
		       					<f:param value="#{membership.domain.block}"/>
		       				</h:outputFormat>
							<h:outputText value="#{msg[membership.type.label]}" style="vertical-align: top; font-weight: normal; font-style: italic"
							rendered="#{membership.type == 'EMPLOYEE'}"/>
		       				<h:outputText value=" - #{membership.domain.name}" style="vertical-align: top; font-weight: normal; font-style: italic"
		       				rendered="#{membership.type == 'EMPLOYEE'}"/>
		       			</ui:repeat>
				    </p:panel>
	       			<p:panel styleClass="no-background no-border no-margin">
	       				<h:outputText value="#{msg['phones']}: " style="vertical-align: top;"/>
		       			<ui:repeat var="phone" value="#{person.telephones}" varStatus="p">
		       				<h:outputText value=", " style="vertical-align: top; font-weight: normal;" rendered="#{p.index > 0}"/>
							<h:outputText value="#{phone}" converter="phoneNumberConverter" style="vertical-align: top; font-weight: normal;"/>
		       			</ui:repeat>
				    </p:panel>
				    <p:panel styleClass="no-background no-border no-margin">
					    <h:outputText value="#{msg['email']}: " style="vertical-align: top;"/>
					    <h:outputText value="#{person.email}" style="vertical-align: top; font-weight: normal;"/>
				    </p:panel>
				</p:panelGrid>
			</p:column>
		</p:dataTable>
	</h:form>
</f:view>
