<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
	</h:head>
	<h:body>
		<p:media id="pdfFile" value="#{repoBean.fileURL}" player="pdf" style="display: none;" rendered="#{repoBean.file != null}"/>
	</h:body>
</f:view>
