<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:composition template="main-template.xhtml">
		<ui:define name="app-view">
			<h:form id="repo-form" binding="#{form}" >
				<p:ajax event="click" listener="#{repoBean.onUnselectAll}" partialSubmit="true" process="@this" update="@all" 
						onstart="return event.target.id.indexOf('yui_patched') > -1" global="false" />
				<p:breadCrumb model="#{repoBean.menu}"/>
				<p:panelGrid columns="3" styleClass="no-border no-background repo-cmds" columnClasses="repo-cmds-left,nil,repo-cmds-right">
					<p:column>
						<p:commandButton value="Criar pasta" partialSubmit="true" process="@this" 
										 update="@widgetVar(folderDialog)" oncomplete="PF('folderDialog').show();"/>
						<p:commandButton value="Criar arquivo" partialSubmit="true" process="@this" 
										 update="@widgetVar(folderDialog)" oncomplete="PF('fileCreateDialog').show();" rendered="false"/>
						<p:fileUpload label="Enviar arquivo" fileUploadListener="#{repoBean.onFileUpload}" auto="true" 
									  update="@widgetVar(fileViewDialog)" oncomplete="PF('fileViewDialog').show();" rendered="true"/>
					</p:column>
					<p:column></p:column>
					<p:column>
						<p:inputText widgetVar="search" styleClass="search-field"/>
						<p:commandButton value="Buscar" update="@form" partialSubmit="true" 
										 process="@widgetVar(search)" styleClass="search-button"/>
					</p:column>
				</p:panelGrid>
				<p:dataGrid widgetVar="folderGrid" var="folder" value="#{repoBean.folders}" columns="6" layout="grid" 
							paginator="false" emptyMessage="" styleClass="no-border no-background folder-grid" rendered="#{repoBean.folders.size() > 0}">
					<f:facet name="header">Pastas</f:facet>

					<p:commandLink onclick="selectFolder#{folder.folderId}()" ondblclick="openFolder#{folder.folderId}()" global="false" title="#{folder.description}">
						<p:column>
							<p:panel widgetVar="folderId_#{folder.folderId}" styleClass="#{repoBean.selectedFolders.contains(folder.folderId) ? 'folder-selected' : ''}">
								<h:outputText id="folder-name" value="#{folder.name}" title="#{folder.name}"/>
							</p:panel>
							<p:contextMenu for="@widgetVar(folderId_#{folder.folderId})">
								<p:menuitem value="Renomear" update="@widgetVar(folderDialog)" oncomplete="PF('folderDialog').show();" icon="ui-icon-disk">
									<f:setPropertyActionListener target="#{repoBean.selectedFolderId}" value="#{folder.folderId}"/>
									<f:setPropertyActionListener target="#{repoBean.folderName}" value="#{folder.name}"/>
									<f:setPropertyActionListener target="#{repoBean.folderDescription}" value="#{folder.description}"/>
								</p:menuitem>
								<p:menuitem value="Mover" actionListener="#{repoBean.onFolderTreeCreate}" update="@widgetVar(moveDialog)" 
											oncomplete="PF('moveDialog').show();" icon="ui-icon-disk"/>
								<p:menuitem value="Excluir" actionListener="#{repoBean.onFolderDelete(folder.folderId)}" update="@form" icon="ui-icon-close">
									<p:confirm header="Atencao!" message="Tem certeza que deseja excluir os itens selecionados?"/>
								</p:menuitem>
							</p:contextMenu>
						</p:column>
					</p:commandLink>
					<p:remoteCommand name="openFolder#{folder.folderId}" actionListener="#{repoBean.onFolderOpen(folder.folderId)}" 
									 partialSubmit="true" process="@this" update="@form" global="true"/>
					<p:remoteCommand name="selectFolder#{folder.folderId}" actionListener="#{repoBean.onFolderSelect(folder.folderId)}" 
									 partialSubmit="true" process="@this" update="@form" global="false"/>
				</p:dataGrid>
				<p:dataGrid widgetVar="fileGrid" var="file" value="#{repoBean.files}" columns="6" layout="grid" 
							paginator="false" emptyMessage="" styleClass="no-border no-background file-grid" rendered="#{repoBean.files.size() > 0}">
					<f:facet name="header">Arquivos</f:facet>
					<p:commandLink onclick="selectFile#{file.fileEntryId}()" ondblclick="openFile#{file.fileEntryId}()" global="false">
						<p:panel id="file-preview-grid" styleClass="no-border no-background #{repoBean.selectedFiles.contains(file.fileEntryId) ? 'file-selected' : ''}">
							<p:graphicImage id="file-preview-image" url="#{repoBean.getFilePreview(file.fileEntryId)}"/>
							<f:facet name="footer">
								<h:outputText id="file-preview-name" value="#{file.title}.#{file.extension}" title="#{file.title}.#{file.extension}"/>
							</f:facet>
						</p:panel>
						<p:contextMenu for="@parent">
							<p:menuitem value="Renomear" update="@widgetVar(fileEditDialog)" oncomplete="PF('fileEditDialog').show();" icon="ui-icon-disk" rendered="false">
								<f:setPropertyActionListener target="#{repoBean.file}" value="#{file}"/>
								<f:setPropertyActionListener target="#{repoBean.fileName}" value="#{file.title}"/>
							</p:menuitem>
							<p:menuitem value="Mover" actionListener="#{repoBean.onFolderTreeCreate}" update="@widgetVar(moveDialog)" 
										oncomplete="PF('moveDialog').show();" icon="ui-icon-disk"/>							
							<p:menuitem value="Ver detalhes" icon="ui-icon-extlink"/>
							<p:menuitem value="Excluir" actionListener="#{repoBean.onFileDelete(file.fileEntryId)}" update="@form" icon="ui-icon-close">
									<p:confirm header="Atencao!" message="Tem certeza que deseja excluir os itens selecionados?"/>
							</p:menuitem>
						</p:contextMenu>
					</p:commandLink>
					<p:remoteCommand name="openFile#{file.fileEntryId}" actionListener="#{repoBean.onFileOpen(file.fileEntryId, file.latestFileVersion.version)}" 
									 partialSubmit="true" process="@this" update="@widgetVar(fileViewDialog)" global="true" oncomplete="PF('fileViewDialog').show();"/>
					<p:remoteCommand name="selectFile#{file.fileEntryId}" actionListener="#{repoBean.onFileSelect(file.fileEntryId)}" 
									 partialSubmit="true" process="@this" update="@form" global="false"/>
				</p:dataGrid>
			</h:form>

			<p:dialog widgetVar="folderDialog" modal="true" draggable="false" resizable="false" closable="false" 
					  visible="false" width="324" style="background: #f9f9f9" dynamic="true">
				<f:facet name="header">
					<p:graphicImage value="../images/user_ico.png"/>
					<p:outputLabel value="Nova Pasta" rendered="#{repoBean.selectedFolderId == 0}"/>
					<p:outputLabel value="Renomear Pasta" rendered="#{repoBean.selectedFolderId > 0}"/>
				</f:facet>
				<h:form id="folder-form">
					<p:panelGrid columns="2" styleClass="no-border no-background">
						<p:outputLabel for="folderName" value="Nome:"/>
						<p:inputText id="folderName" value="#{repoBean.folderName}" required="true" requiredMessage="Informe o nome da pasta"/>
						<p:outputLabel for="folderDescription" value="Descrição:"/>
						<p:inputTextarea id="folderDescription" value="#{repoBean.folderDescription}" cols="5" rows="5"/>
					</p:panelGrid>
					<p:panelGrid columns="2" styleClass="no-background no-border dialog-buttons-grid" style="float: right">
						<p:commandButton value="#{msg['confirm']}" actionListener="#{repoBean.onFolderEvent}" 
										 update=":repo-form,:outputMsg" 
										 oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('folderDialog').hide();}"/>
						<p:commandButton value="#{msg['cancel']}" type="button" onclick="PF('folderDialog').hide();"/>
					</p:panelGrid>
				</h:form>
			</p:dialog>

			<p:dialog widgetVar="moveDialog" modal="true" draggable="false" resizable="false" closable="true" closeOnEscape="true" 
					  visible="false" style="background: #f9f9f9">
				<f:facet name="header">
					<p:graphicImage value="../images/user_ico.png"/>
					<p:outputLabel value="Mover para..."/>
				</f:facet>
				<h:form>
					<p:scrollPanel style="height: 300px; margin: 10px" mode="native">
						<p:tree var="folder" value="#{repoBean.folderTree}" dynamic="true" selectionMode="single"
								selection="#{repoBean.selectedTreeNode}" styleClass="no-border no-background" required="true" requiredMessage="selecione uma pasta">
							<p:treeNode expandedIcon="ui-icon ui-icon-folder-open" collapsedIcon="ui-icon ui-icon-folder-collapsed">
								<h:outputText value="#{folder.name}"/>
							</p:treeNode>
						</p:tree>
					</p:scrollPanel>
					<p:panel styleClass="no-border no-background3 dialog-buttons-grid">
						<p:commandButton value="Mover" actionListener="#{repoBean.onFolderItemsMove}" update=":repo-form,:outputMsg" 
										 oncomplete="if (!args.validationFailed) {PF('moveDialog').hide();}"/>
					</p:panel>
				</h:form>
			</p:dialog>

			<p:dialog widgetVar="fileCreateDialog" modal="true" draggable="false" resizable="false" closable="false" 
					  visible="false" width="310" style="background: #f9f9f9" dynamic="true">
				<f:facet name="header">
					<p:graphicImage value="../images/user_ico.png"/>
					<p:outputLabel value="Renomear Arquivo"/>
				</f:facet>
				<h:form id="file-form">
					<p:panelGrid columns="2" styleClass="no-border no-background">
						<p:outputLabel for="fileName" value="Nome:"/>
						<p:inputText id="fileName" value="#{repoBean.fileName}" required="true" requiredMessage="Informe o nome do arquivo"/>
					</p:panelGrid>
					<p:panelGrid columns="2" styleClass="no-background no-border dialog-buttons-grid" style="float: right">
						<p:commandButton value="#{msg['confirm']}" actionListener="#{repoBean.onFileUpdate}" 
										 update="@widgetVar(fileGrid),:outputMsg" 
										 oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('fileEditDialog').hide();}"/>
						<p:commandButton value="#{msg['cancel']}" type="button" onclick="PF('fileEditDialog').hide();"/>
					</p:panelGrid>
				</h:form>
			</p:dialog>

			<p:dialog widgetVar="fileViewDialog" modal="true" draggable="false" resizable="false" closable="true" 
					  closeOnEscape="true" visible="false" dynamic="false" styleClass="file-dialog">
				<f:facet name="header">
					<h:form>
						<h:outputText value="#{repoBean.fileVersion.title}.#{repoBean.fileVersion.extension}" style="float: left"/>
						<p:commandLink title="Fazer download" ajax="false" partialSubmit="true" process="@this" style="float: right">
							<p:graphicImage url="../images/download.png" width="25" height="25"/>
							<p:fileDownload value="#{repoBean.fileStreamedContent}"/>
						</p:commandLink>
						<p:commandLink title="Imprimir" type="button" onclick="printFile('pdfFile')" style="float: right">
							<p:graphicImage url="../images/print.png" width="25" height="25"/>
						</p:commandLink>
						<iframe id="pdfFile" src="#{repoBean.fileURL}" hidden="true"/>
					</h:form>
				</f:facet>
				<p:layout widgetVar="layoutWgt" styleClass="no-border no-background" style="width: 100%; height: 100vh;" collapseTitle="Retrair" expandTitle="Expandir">
					<p:layoutUnit position="center" styleClass="no-background" resizable="true" collapsible="true" closable="true" gutter="0">
						<h:form>
							<p:dataTable var="filePage" value="#{repoBean.pages}" rows="4" paginator="false" 
										 scrollable="true" liveScroll="true" scrollRows="4" tableStyle="margin: 20px 0px 50px 0px;"
										 styleClass="no-header no-margin" tableStyleClass="no-border no-background">
								<p:column style="text-align: center;">
									<p:graphicImage url="#{filePage}"/>
								</p:column>
							</p:dataTable>
						</h:form>
					</p:layoutUnit>
					<p:layoutUnit position="east" size="400" resizable="true" collapsible="true" header="" gutter="0">
						<h:form id="file-info-form">
							<p:panelGrid id="fileProps" columns="2" columnClasses="file-props-label,file-props-value" styleClass="no-border no-background" style="width: 100%">
								<p:outputLabel value="Nome"/>
								<p:inputText value="#{repoBean.fileVersion.model.title}"/>
								<p:outputLabel value="Versão"/>
								<p:selectOneMenu value="#{repoBean.fileVersion.model.version}" rendered="#{repoBean.fileVersion != null}">
									<f:selectItems var="version" value="#{repoBean.fileVersions}" itemLabel="#{version}" itemValue="#{version}"/>
									<p:ajax event="change" listener="#{repoBean.onFileOpen(repoBean.fileVersion.fileEntryId, repoBean.fileVersion.version)}" update="@form"/>
								</p:selectOneMenu>
								<p:outputLabel value="Criado em"/>
								<h:outputText value="#{repoBean.fileVersion.createDate}">
									<f:convertDateTime pattern="dd/MM/yyyy 'as' HH:mm" timeZone="America/Sao_Paulo"/>
								</h:outputText>
								<p:outputLabel value="Criado por"/>
								<h:outputText value="#{repoBean.fileVersion.userName}"/>
								<p:outputLabel value="Tipo"/>
								<p:selectOneMenu widgetVar="fileType" value="#{repoBean.fileVersion.model.fileEntryTypeId}" rendered="#{repoBean.fileVersion != null}">
									<f:selectItem itemLabel="Sem tipo" itemValue="0" noSelectionOption="true"/>
									<f:selectItems var="fileType" value="#{repoBean.fileTypes}" itemLabel="#{fileType.getNameCurrentValue()}" itemValue="#{fileType.fileEntryTypeId}"/>
									<p:ajax event="change" listener="#{repoBean.onFileTypeSelect}" update="fileTypeProps" partialSubmit="true" process="@this" oncomplete="PF('fileType').getSelectedLabel()"/>
								</p:selectOneMenu>
							</p:panelGrid>
							<p:panelGrid id="fileTypeProps" styleClass="no-border no-background" style="width: 100%">
								<p:repeat var="field" value="#{repoBean.fields}">
									<p:row rendered="#{field.type == 'ddm-date'}">
										<p:column styleClass="file-props-label">
											<p:outputLabel value="#{field.getDDMStructure().getFieldProperty(field.name, 'label')}"/>
										</p:column>
										<p:column styleClass="file-props-value">
											<p:calendar lang="pt_BR" pattern="dd/MM/yyyy" value="#{field.value}"/>
										</p:column>
									</p:row>
									<p:row rendered="#{field.type == 'ddm-decimal'}">
										<p:column styleClass="file-props-label">
											<p:outputLabel value="#{field.getDDMStructure().getFieldProperty(field.name, 'label')}"/>
										</p:column>
										<p:column styleClass="file-props-value">
											<p:inputNumber value="#{field.value}" decimalPlaces="2"/>
										</p:column>
									</p:row>
									<p:row rendered="#{field.type == 'ddm-number'}">
										<p:column styleClass="file-props-label">
											<p:outputLabel value="#{field.getDDMStructure().getFieldProperty(field.name, 'label')}"/>
										</p:column>
										<p:column styleClass="file-props-value">
											<p:inputNumber value="#{field.value}" decimalPlaces="0" thousandSeparator=""/>
										</p:column>
									</p:row>
									<p:row rendered="#{field.type == 'text'}">
										<p:column styleClass="file-props-label">
											<p:outputLabel value="#{field.getDDMStructure().getFieldProperty(field.name, 'label')}"/>
										</p:column>
										<p:column styleClass="file-props-value">
											<p:inputText value="#{field.value}"/>
										</p:column>
									</p:row>
									<p:row rendered="#{field.type == 'select'}">
										<p:column styleClass="file-props-label">
											<p:outputLabel value="#{field.getDDMStructure().getFieldProperty(field.name, 'label')}"/>
										</p:column>
										<p:column styleClass="file-props-value">
											<p:selectOneMenu value="#{field.value}" converter="javax.faces.Integer">
												<f:selectItem itemLabel="Selecione" itemValue="0" noSelectionOption="true"/>
												<f:selectItems var="option" value="#{field.getDDMStructure().getChildrenFieldNames(field.name)}"
															   itemLabel="#{field.getDDMStructure().getFieldProperty(option, 'label')}"
															   itemValue="#{field.getDDMStructure().getFieldProperty(option, 'value')}"/>
											</p:selectOneMenu>
										</p:column>
									</p:row>
								</p:repeat>
							</p:panelGrid>
							<p:panel styleClass="no-border dialog-buttons-grid">
								<p:commandButton value="Salvar" actionListener="#{repoBean.onFileSave}" update="@form,:outputMsg"/>
							</p:panel>
						</h:form>
					</p:layoutUnit>
				</p:layout>
			</p:dialog>
		</ui:define>
	</ui:composition>
</f:view>