<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="admin-employee-form">
		<p:panelGrid columns="2" styleClass="no-border no-margin employee-cmds" columnClasses="employee-cmds-left,employee-cmds-right">
			<p:column>
				<p:inputText id="admEmployeeName" widgetVar="admEmployeeName" valueChangeListener="#{adminBean.personListBean.onPersonSearch}" 
							 placeholder="Buscar pelo nome" styleClass="searchField"/>
				<p:commandButton value="Buscar" update="@widgetVar(admEmployeeTable)" partialSubmit="true" 
								 process="@widgetVar(admEmployeeName)" styleClass="searchBtn"/>
			</p:column>

			<p:commandButton value="Cadastrar uma pessoa" actionListener="#{adminBean.personListBean.onPersonCreate}" 
							 partialSubmit="true" process="@this" update="@widgetVar(admEmployeeDialog)" oncomplete="PF('admEmployeeDialog').show();"
							 style="font-size: 12px; margin: 0; padding:0"/>
							 
			<p:selectCheckboxMenu id="personType" widgetVar="personType" label="Categorias" 
								  value="#{adminBean.personListBean.selectedPersonTypes}" converter="typeConverter" 
								  showHeader="false" style="font-size: 13px; float: left; margin: 10px 0px;">
				<f:selectItems var="type" value="#{adminBean.personListBean.personTypesFilter}" itemLabel="#{msg[type.label]}" itemValue="#{type}"/>
				<p:ajax event="change" listener="#{adminBean.personListBean.onPersonTypeSelect}" update="@widgetVar(admEmployeeTable)"/>
    		</p:selectCheckboxMenu>

			<p:column></p:column>
		</p:panelGrid>

		<p:dataTable widgetVar="admEmployeeTable" id="admEmployeeTable" var="employee" value="#{adminBean.personListBean.model}"  
		             paginator="true" paginatorPosition="bottom" paginatorTemplate="{PreviousPageLink} {NextPageLink}"
		             emptyMessage="Nenhum funcionário cadastrado" rows="5" rowKey="#{employee.id}" 
		             disabledSelection="#{!adminBean.personListBean.canEditPerson(employee)}" styleClass="no-header no-border"
		             tableStyleClass="no-border">
		    <p:ajax event="page" global="false"/>
			<p:column style="width: 49px;">
				<p:panel styleClass="foto no-margin no-background" style="width: 43px !important; height: 66px !important">
					<p:graphicImage value="#{employee.portrait.path}" height="66" width="43" cache="false" />
				</p:panel>
			</p:column>
			<p:column style="vertical-align: top">
				<p:panelGrid columns="1" styleClass="no-background no-border">
	       			<h:outputText value="#{employee.name} #{employee.surname}" style="font-size: 14px; color: black; font-weight: bold;"/>
	       			<p:panel styleClass="no-background no-border no-margin" style="width: 50%">
	       				<h:outputText value="#{msg[adminBean.personListBean.displayMembership(employee)]}" style="vertical-align: top;"/>
				        <p:graphicImage value="../images/question.png" width="15" height="15" style="margin-left: 5px;"/>
					    <p:tooltip for="@parent:@child(1)" value="#{msg[adminBean.personListBean.displayMembership(employee).concat('.desc')]}" rendered="true" style="width: 220px; font-size: 12px; "/>
				    </p:panel>
				</p:panelGrid>
			</p:column>
			<p:column style="width: 35px">
				<p:commandLink title="Editar este usuário" actionListener="#{adminBean.personListBean.onPersonEdit}" oncomplete="PF('admEmployeeDialog').show();" 
							   partialSubmit="true" process="@this" update="@widgetVar(admEmployeeDialog)" global="false" disabled="#{!adminBean.personListBean.canEditPerson(employee)}">
					<h:graphicImage value="../images/edit.png"/>
				</p:commandLink>
			</p:column>
			<p:column style="width: 35px">
				<p:commandLink title="Excluir este usuário" actionListener="#{adminBean.personListBean.onPersonDelete}" 
							   partialSubmit="true" process="@this" global="false" update="@widgetVar(admEmployeeTable),:outputMsg" 
							   disabled="#{!adminBean.personListBean.canDeletePerson(employee)}">
					<h:graphicImage value="../images/cancel2.png" />
					<p:confirm header="#{msg['person.delete.confirm']}" message="#{msg['person.delete.message']}" icon="ui-icon-alert"/>
				</p:commandLink>
			</p:column>
		</p:dataTable>
	</h:form>


</f:view>
