@import url(primefaces.css);

html, body {
	padding: 0;
	margin: 0;
}

body {min-height: 100vh;}

body.signed-out {
	background: url("../images/gradient.png") repeat-x; 
	color: #6e6e6e;
	border: 0px solid red;
}

body.signed-in {
	background: url("../images/global_bg.png") #f2f2f2; 
	color: #6e6e6e;
	border: 0px solid red;
}

#wrapper {
	border: 0px solid white;
	height: 100%;
	padding: 5px 40px;
}

#banner {
	margin: 0px;
	padding: 0px;
}

.separator {
	width: 95%;
	background: url("../images/1px-gray.png") repeat-x;
	height: 9px;
	border: 0px solid yellow;
	margin-top: 0px;
}

#stuff {
	width: 30px;
	height: 9px;
	background: url("../images/stuff.png") no-repeat;
	position: relative;
	margin: 0px auto;
}

#navigation {
	border: 0px solid black;
	margin: 10px 0px;
	text-align: center;
}

#navigation ul {
	margin: 0px;
}

#navigation ul li {
	display: inline-block;
	margin: 0px 4px;
	list-style: none;
}

input[type='password'], input[type='text'], textarea {
	border: 1px solid #d7d7d7;
	background: #fdfdfd !important;
	padding: 6px !important;
	margin: 0px !important;
	box-shadow: none !important;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

input[type='password']:focus, input[type='text']:focus, textarea:focus {
    outline: none !important;
    border-color: #90b2e9 !important;
	-webkit-box-shadow: 0 0 10px #90b2e9 !important;
	-moz-box-shadow: 0 0 10px #90b2e9 !important;
	box-shadow: 0 0 10px #90b2e9 !important;
}

input[type='password']:hover, input[type='text']:hover, textarea:hover {
    outline: none !important;
    border-color: #90b2e9 !important;
	-webkit-box-shadow: 0 0 10px #90b2e9 !important;
	-moz-box-shadow: 0 0 10px #90b2e9 !important;
	box-shadow: 0 0 10px #90b2e9 !important;
}

/* ---------- Portlet Dockbar ---------- */

.dockbar .navbar-inner {
	background: url("../images/dockbar_bg.png");
	
}


/* ---------- All Portlets ---------- */
.portlet-boundary {
	margin-bottom: 15px;
}

.portlet-content {
	border: 1px solid #cccccc;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	background: #f2f2f2;
	padding: 0;
}

.portlet-topper {
	border: 1px solid #335a85;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: url("../images/dockbar_bg.png");
	height: 40px;
	padding: 0 !important;
}

.portlet-title {
	margin: 0px 0px !important;
	padding: 0 !important;
	border: 0px solid red;
}

.portlet-title img {
	margin-left: 10px;
	display: none;
}

.portlet-title-text {
	color: #FFFFFF;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8);
	font-size: 16px;
	letter-spacing:1px;
	margin-left: 15px;
}

.portlet-options .caret {
	display: none;
}

.default-portlet .portlet-content {
	padding: 15px;
}

.liferay-faces-bridge-body {
	
}

.portlet-content-container {
	
}

.portlet-topper .portlet-topper-toolbar {
	padding: 7px;
}

.portlet-topper .portlet-topper-toolbar a {
	color: white;
}

.modal-header {
	background: url("../images/dockbar_bg.png") !important;
	padding: 3px 15px !important;
}

.aui .modal-header .close {
	margin-top: 7px !important;
}

.aui .modal-header h3 {
	color: #FFFFFF !important;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8) !important;
	font-size: 16px !important;
	letter-spacing: 1px !important;
	margin: 3px 0px 0px !important;	
}

.dialog-iframe-root-node {
	background-color: #f2f2f2;
}

.dialog-iframe-root-node body.portal-popup {
	background: none;
}

.aui .nav-tabs {
	margin-bottom: 0;
	border-color: #cccccc;
}

.aui .nav-tabs > li > a {
	border-color: #cccccc;
}

.aui .nav-tabs > li > a:hover {
	border-color: #cccccc;
}

.aui .nav-tabs > .active > a {
	background-color: #f9f9f9;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	border-right-color: #cccccc;
}

.aui .nav-tabs > .active > a:hover {
	background-color: #f9f9f9;
	border-top-color: #cccccc;
	border-left-color: #cccccc;
	border-right-color: #cccccc;
}

.portlet-configuration .archived-setups {
	background: #f9f9f9;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	margin: 0;
	width: 100%;
}

.portlet-configuration .archived-setups span {
	line-height: 2;
	margin: 10px;
}

body.portal-popup {
	background: #f9f9f9;
}

.portlet-wiki {
	width: 85%;
	margin: 0px auto;

	.portlet-body {
		margin: 15px;
	}

	.navbar, .header-back-to, .taglib-custom-attributes-list { display : none; }
	
	.wiki-body {
		font-size: 13px; 
		font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',sans-serif; 
		font-style: normal; 
		font-variant: normal; 
		font-weight: normal; 
		color: rgb(37, 37, 37); 
	}

	.portlet-title {
		text-align: center;
	}
	
	.portlet-title img {display: none}
	
	.portlet-title-text {
		text-transform: uppercase;
		font-size: 23px; 
		font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',sans-serif; 
		font-style: normal; 
		font-variant: normal; 
		font-weight: normal; 
		letter-spacing: 1px;
		color: rgb(37, 37, 37); 
	}
	
	.top-links {
		display: none;
	}
	
	.portlet-topper {
		background: none; border: none;
	}
	
	.portlet-body {
	}

	.front-child-pages {
		border: 0px solid black;
	    -moz-column-count: 3 !important;
	    -moz-column-gap: 0px !important;
	    -webkit-column-count: 3 !important;
	    -webkit-column-gap: 0px !important;
	    column-count: 3 !important;
	    column-gap: 0px !important;
	}

	.front-child-pages ul {
		list-style-type: none;
	}

	.front-child-pages ul li {
		border: 0px solid red;
	}
	
	.front-child-pages ul li img {
		vertical-align: middle;
	}

	.front-child-pages ul li a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px; 
		font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',sans-serif; 
		white-space: nowrap;
		font-style: normal; 
		font-variant: normal; 
		font-weight: normal; 
		letter-spacing: 1px;
		color: rgb(37, 37, 37); 
	}

	.child-pages {
	    -moz-column-count: 2;
	    -moz-column-gap: 0px !important;
	    -webkit-column-count: 2;
	    -webkit-column-gap: 0px !important;
	    column-count: 2;
	    column-gap: 0px !important;
	}

	.child-pages h2 {
	    display: none;
	}

	.child-pages ul {
	    margin: 0px 10%;
	}

	.child-pages ul li {
		margin: 0;
		padding: 0px 0px 10px 0px;
		border: 0px solid red;
	}

	.child-pages ul li a {
		text-decoration: none;
		text-transform: none;
		font-size: 14px; 
		font-family: 'Lucida Grande','Lucida Sans','Lucida Sans Unicode',sans-serif; 
		font-style: normal; 
		font-variant: normal; 
		font-weight: normal; 
		letter-spacing: 1px;
		color: rgb(37, 37, 37); 
	}
	
	.child-pages ul li a:hover {
		text-decoration: underline;
	} 

	a {
		text-decoration: none;
	} 

	a:hover {
		text-decoration: underline;
	} 

	.wiki-page-header {
		width: 100%;
	}

	.wiki-page-header img {
		float: left;
		margin-right: 10px; 
		margin-top: -25px;
	}
	
	.header-title, .header-back-to  {
		margin-top: 30px;
	}

}