.no-border {border: none !important;}
.no-border>table>tbody>tr {border: none !important;}
.no-border>tbody {border: none !important;}
.no-border>tbody>tr {border: none !important;}
.no-border>tbody>tr>td {border: none !important;}
.no-border>div {border: none !important;}

.no-margin>tbody>tr>td {margin:  0px !important; padding: 0px !important;}
.no-margin {margin:  0px !important; padding: 0px !important;}
.no-margin>div {margin:  0px !important; padding: 0px !important;}

.no-background {background-color: transparent !important;}
.no-background>div {background: none;}
.no-background>tbody {background-color: transparent !important;}
.no-background>tbody>tr {background-color: transparent !important;}
.no-background>tbody>tr>td {background-color: transparent !important;}

.no-header thead {display: none}

.ui-growl {
	top: 40% !important;
	left:40% !important;
	font-size: 15px !important;
}

/* Widgets */
.ui-widget {
	font-family: Arial;
	font-size: 13px;
}

.ui-widget-content4 {
	border-color: #335a85;
	box-shadow: 0px 1px 2px 0px rgba(166, 201, 226, 0.72);
	-webkit-box-shadow: 0px 1px 2px 0px rgba(166, 201, 226, 0.72);
	-moz-box-shadow: 0px 1px 2px 0px rgba(166, 201, 226, 0.72);
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;	
}

/* Tabs */

.ui-tabs {background: none; padding: 0; border: 0px;}

.ui-tabs-nav {background: none !important;}

.ui-tabs ul {padding: 0 !important;}

.ui-tabs .ui-tabs-panel {
	padding: 0 !important;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc;
	-moz-box-shadow: 1px 2px 3px 0px #cccccc;
	box-shadow: 1px 2px 3px 0px #cccccc;
	background: #f9f9f9 !important;
	background-image: none;
	border-width: 1px !important;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	border-top-left-radius: 0px;
}

.ui-tabs .ui-tabs-panel .ui-datatable tbody {
	background: none;
}

.ui-tabs .ui-tabs-nav li {
	margin: 0 .2em 0px 0px !important;
	border-width: 1px;
	border-bottom-width: 0px;
}

.ui-tabs .ui-tabs-nav li a {
	color: rgba(51, 90, 133, 0.5);
	text-shadow: 0px 1px 1px rgba(144, 163, 170, 0.8);	
	border-bottom: 1px solid rgba(51, 90, 133, 0.42);
	border-top: 2px solid rgba(255, 255, 255, 0.68);
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	font-size: 14px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	border-bottom-color: #f9f9f9;
	color: rgba(51, 90, 133, 1);	
}

.ui-tabs .ui-tabs-nav li.ui-state-default {
	border-color: #a8a8a8 !important;
}

.ui-tabs .ui-tabs-nav li.ui-state-active {
	background-color: #f9f9f9;
}

.ui-tabs .ui-tabs-navscroller {
    position: relative;
    top: 1px;
}

.ui-tabs .ui-tabs-navscroller-btn {
    height: 35px;
}


.ui-tabs .ui-tabs-navscroller-btn-left {
    left: 0;
}

.ui-tabs .ui-tabs-navscroller-btn-right {
    right: 0;
}

.ui-tabs .ui-tabs-navscroller-btn-left .ui-icon, .ui-tabs .ui-tabs-navscroller-btn-right .ui-icon {
    margin-top: 8px;
}

.ui-tabs .ui-datatable {
    padding: 0px 1px 1px 1px;
}

.ui-tabs .ui-datagrid {
    padding: 0px 1px 1px 1px;
}

/* Datatable */

.ui-datatable-odd {background: #f9f9f9;}

.ui-datatable-even {background: #ffffff;}

/* Dialogs */

.ui-dialog-title label {
	vertical-align: top; 
	line-height: 22px; 
	font-weight: bold;
}

.ui-dialog-title img {
	vertical-align: top; 
	margin-right: 10px;	
}

.ui-dialog-titlebar {
	background: url("../images/dockbar_bg.png"); 
	color: #fafafa;
	text-shadow: 1px 1px 5px rgba(84, 84, 84, 1);
	line-height: 25px;
	border: 1px solid #335a85;
}

.ui-dialog-titlebar label {
	display: inline;
}

.ui-dialog {
	border: none !important;
	background-color: #f2f2f2;
}

.ui-dialog-titlebar-close {margin: 4px !important; border: 0px solid white}

.ui-dialog-content {padding-left: 0px !important; padding-right: 0px !important;}

.ui-dialog-buttonpane {background: #f9f9f9 !important}

.status .ui-dialog-titlebar {display: none;}

.status .ui-dialog-content {padding: 10px !important;}

/* Calendar */
.ui-datepicker {
	padding: 0;
}

.ui-datepicker td span, .ui-datepicker td a {
	text-align: center;
}

.ui-datepicker td a:hover {
	text-decoration: none;
}

/* Panels */


/* Forms */
form {
	margin: 0px !important;
}

fieldset.ui-fieldset {
	padding: inherit;
	border: 1px solid #a8a8a8;
}

legend.ui-fieldset-legend {
	width: auto;
	font-size: inherit;
	line-height: inherit;
	margin-bottom: inherit;
	text-align: right;
}

.ui-button {
	padding: 6px;
	font-size: 13px;
}

.ui-selectoneradio label {
	margin: 0px 15px 0px 5px;
}

.ui-selectmanycheckbox label {
	margin: 0px 15px 0px 5px;
	font-size: 13px;
}

.ui-selectonemenu .ui-selectonemenu-label {
	padding-left: 8px;
	box-shadow: none;
	font-size: inherit;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    margin-top: 6px;
}

.ui-selectcheckboxmenu {
	width: 100%;
}

.ui-selectcheckboxmenu .ui-selectcheckboxmenu-label {
	padding: 7px 26px 6px 8px;
}

label.ui-selectcheckboxmenu-label {
	padding: 6px 26px 6px 8px;
	font-size: inherit;
	font-weight: inherit;
	margin-bottom: inherit;
}

li.ui-selectcheckboxmenu-item, .ui-selectcheckboxmenu-item label {
	line-height: inherit;
	margin-bottom: inherit;
	font-size: 13px;
}


.ui-selectcheckboxmenu .ui-selectcheckboxmenu-trigger .ui-icon {
    margin-top: 6px;
}

.jcrop-holder img {
	max-width: inherit !important;
}

/* Customs */
.spacer {background: #cccccc !important; height: 1px !important;}

.foto {
	border: 4px solid white !important;
	-webkit-border-radius: 3px !important;
	-moz-border-radius: 3px !important;
	border-radius: 3px !important;
	-webkit-box-shadow: 0px 0px 6px 0px #cccccc;
	-moz-box-shadow: 0px 0px 6px 0px #cccccc;
	box-shadow: 0px 0px 6px 0px #cccccc;			
}

.content-box {
	padding: 0 !important;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc;
	-moz-box-shadow: 1px 2px 3px 0px #cccccc;
	box-shadow: 1px 2px 3px 0px #cccccc;
	background-color: #f9f9f9 !important;
	text-align:left;
	border: none !important;
}

.content-box .ui-panel-titlebar {
	border: 1px solid #a8a8a8 !important;
	border-bottom: 1px solid #cccccc !important; 
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
	padding: 8px 15px;
}

.content-box .ui-panel-titlebar .ui-panel-title {
	font-size: 13px;
}
		
.content-box>.ui-panel-content {
	padding: 0;
	font-size: 13px !important;
	border: 1px solid #a8a8a8 !important;
    border-top: none !important;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ui-panel-content label {
	display: inline;
	margin-bottom: 0px;
	font-size: 13px;
}