<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:composition template="main-template.xhtml">
		<ui:define name="app-view">
			<p:panelGrid columns="2" styleClass="no-background no-border main-grid" columnClasses="bookings-grid,rooms-grid">
				<p:column>
					<ui:include src="my-bookings-view.xhtml"/>
				</p:column>
				<p:column>
					<ui:include src="calendar-view.xhtml"/>
				</p:column>
			</p:panelGrid>
			<h:form>
				<p:confirmDialog widgetVar="bookingAlert" global="false" width="600" showEffect="fade" hideEffect="fade" 
								 visible="false" closable="false" style="padding: 0px; font-size: 13px; text-align: justify"
								 header="#{msg['header.attention']}"
								 message="#{msg['msg.booking.alert.room.'.concat(bookingBean.calendarBean.room.id)]}">
					<p:panel style="text-align: center;" styleClass="no-border no-background">
						<p:commandButton type="button" value="Ok" onclick="PF('bookingAlert').hide(); PF('passwordDialog').show();" style="width: 85px;"/>
					</p:panel>
				</p:confirmDialog>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>