<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<ui:composition template="main-template.xhtml">
	<ui:define name="app-view">
		<p:tabView id="tabs" widgetVar="tabs" dynamic="true" var="room" value="#{bookingBean.rooms}">
			<p:ajax event="tabChange" listener="#{bookingBean.onTabChange}" update="booking-form"/>
			<p:tab title="#{room.name}">
				<h:form id="booking-form">
					<p:panelGrid columns="2" styleClass="no-background no-border" columnClasses="flat-left,flat-right">
						<p:panelGrid columns="1" styleClass="no-background no-border" style="width: 100%">
							<p:column>
								<p:panelGrid columns="2" columnClasses="room-icon,room-name" 
											 styleClass="no-background no-border no-margin" style="width: 100%;">
									<p:panel styleClass="no-border #{bookingBean.getRoomStyle(room)}" style="width: 30px; height: 30px; float: left"/>
									<p:column>
										<h:outputText value="#{room.name}" style="font-size: 14px; color: black; font-weight: bold;"/><br/>
									</p:column>
								</p:panelGrid>
							</p:column>
							<p:column>
								<h:outputLink value="#{room.agreement}?targetExtension=pdf" target="_blank" styleClass="agreement">
									Termo de Responsabilidade
								</h:outputLink>
							</p:column>
							<p:column>
								<h:outputText value="Valor: "/>
								<h:outputText value="#{room.price}"><f:convertNumber type="currency" /></h:outputText>
							</p:column>
							<p:column rendered="#{room.capacity > 0}">
								<h:outputText value="Capacidade: " style="font-weight: bold"/>
								<h:outputText value="#{room.capacity} pessoas"/>
							</p:column>
							<p:column>
								<h:outputText value="#{room.description}" escape="false"/>
							</p:column>
						</p:panelGrid>
						<p:schedule id="calendar" value="#{bookingBean.calendarBean.model}" editable="true" widgetVar="calendar" 
									locale="pt" draggable="false" resizable="false" view="month" 
									leftHeaderTemplate="" centerHeaderTemplate="title" rightHeaderTemplate="prev,next"> <!-- timeZone="America/Sao_Paulo"-->
							<p:ajax event="dateSelect" listener="#{bookingBean.calendarBean.onDateSelect}" 
									update=":booking-dialog-form:bookingDetails,:outputMsg" 
									oncomplete="if (!args.exception) {PF('bookingDialog').show();}"/>
							<p:ajax event="eventSelect" listener="#{bookingBean.calendarBean.onBookingSelect}" 
									update=":booking-dialog-form:bookingDetails,:outputMsg" 
									oncomplete="if (!args.exception) {PF('bookingDialog').show();}"/>
						</p:schedule>
				</p:panelGrid>
				</h:form>
			</p:tab>
		</p:tabView>
		<ui:include src="booking_dialog.xhtml"/>
	</ui:define>
</ui:composition>
</f:view>