<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:composition template="main-template.xhtml">
		<ui:define name="app-view">
			<h:form id="booking-access-form">
				<h:outputText value="#{bookingAccessBean.today}">
					<f:convertDateTime pattern="EEEE, dd 'de' MMMM 'de' yyyy"/>
				</h:outputText>
				<p:accordionPanel var="booking" value="#{bookingAccessBean.bookings}" rendered="#{not empty bookingAccessBean.bookings}" styleClass="no-margin booking-access-table" dynamic="true">
					<p:ajax event="tabChange" listener="#{bookingAccessBean.onBookingSelect}" update="guestTable" global="false"/>
					<p:tab title="#{bookingAccessBean.displayBookingTitle(booking)}">
						<p:panelGrid columns="2" columnClasses="col-left,col-right" styleClass="no background no-margin no-border">
							<p:column></p:column>
							<p:column>
								<p:commandLink actionListener="#{bookingAccessBean.onBookingRefresh}" update="@form" 
											   style="float: right; margin: 5px 15px 0px 0px;" title="atualizar reserva">
									<p:graphicImage value="../images/refresh.png"/>
								</p:commandLink>
							</p:column>
							<p:panelGrid id="bookingOwner" columns="1" columnClasses="vert-center" styleClass="no-border" style="margin: 10px;">
								<p:panel styleClass="foto avatar no-margin" style="margin: 0 auto !important">
									<p:graphicImage value="#{booking.person.portrait.path}" cache="false"/>
								</p:panel>
								<p:panelGrid columns="1" styleClass="no background no-border" style="font-weight: bold; text-transform: uppercase;">
									<h:outputText value="#{booking.person.name} #{booking.person.surname}" styleClass="teste"/>
									<p:graphicImage value="../images/pago.png" width="80" height="57" rendered="#{bookingAccessBean.isPrePaid(booking) and bookingAccessBean.isPaid(booking)}"/>
								</p:panelGrid>
							</p:panelGrid>
							<p:panel id="bookingGuests" header="#{msg['header.guest.list']}" styleClass="content-box" style="float:right; margin: 13px 15px 14px 0px;">
								<p:dataTable id="guestTable" var="guest" value="#{bookingAccessBean.guests}" rowKey="{guest.id}" tableStyleClass="no-header no-border" >
									<p:column style="width: 40px; height: 40px; text-align: center">
										<p:commandLink actionListener="#{bookingAccessBean.onGuestUpdate(guest)}" update="guestTable" global="false">
											<p:graphicImage value="../images/checked.png" rendered="#{guest.checkedIn}"/>
											<p:graphicImage value="../images/not-checked.png" rendered="#{!guest.checkedIn}"/>
										</p:commandLink>
									</p:column>
									<p:column headerText="Nome">
										<h:outputText value="#{guest.name} #{guest.surname}" style="font-weight: bold; text-transform: uppercase;"/>
									</p:column>
								</p:dataTable>
							</p:panel>
						</p:panelGrid>
					</p:tab>
				</p:accordionPanel>
					<p:messages id="no-bookings" severity="info" autoUpdate="true" styleClass="access" rendered="#{empty bookingAccessBean.bookings}"/>
			</h:form>
		</ui:define>
	</ui:composition>
</f:view>