<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
<script>
var tabIndex = #{bookingBean.calendarBean.tabIndex};
</script>
</h:head>
	<p:tabView id="tabs" widgetVar="tabs" dynamic="true" var="room" value="#{bookingBean.calendarBean.rooms}" 
			   activeIndex="#{bookingBean.calendarBean.tabIndex}" onTabChange="saveTabIndex(event, index)" 
			   cache="true" scrollable="true" styleClass="profile" style="display: grid; margin-top: 0px !important;">
		<p:ajax event="tabChange" listener="#{bookingBean.calendarBean.onRoomSelect}" update="@this"/>
		<p:tab title="#{room.name}">
			<h:form id="booking-form">
				<p:inputText id="bookedDates" widgetVar="bookedDates-#{room.id}" value="#{bookingBean.calendarBean.bookedDates}" style="display: none"/>
				<p:panelGrid columns="2" styleClass="no-background no-border no-margin5" columnClasses="room-info-grid,calendar-grid">
					<p:panelGrid columns="1" styleClass="no-background no-border">
						<p:column>
							<h:outputLink value="#{room.agreementURL}?targetExtension=pdf" target="_blank" styleClass="agreement">
								#{msg['agreement.term']}
							</h:outputLink>
						</p:column>
						<p:column>
							<h:outputText value="#{msg['value']}: "/>
							<h:outputText value="#{room.price}" style="font-weight: normal"><f:convertNumber type="currency" /></h:outputText>
						</p:column>
						<p:column rendered="#{room.capacity > 0}">
							<h:outputText value="#{msg['capacity']}: " style="font-weight: bold"/>
							<h:outputText value="#{room.capacity} pessoas" style="font-weight: normal"/>
						</p:column>
						<p:column>
							<h:outputText value="#{room.description}" escape="false" style="font-weight: normal"/>
						</p:column>
						<p:spacer width="100%" height="1px" styleClass="spacer"/>
						<p:panel widgetVar="roomImages-#{room.id}" styleClass="no-background no-border no-margin" style="width: 100%;">
							<ui:repeat var="image" value="#{room.images}" varStatus="status">
								<p:commandLink update=":room-images-form" style="float: left;"
											   oncomplete="PF('switcher').switchTo(#{status.index}); PF('roomImagesDialog').show();">
									<p:graphicImage url="#{image.path}" styleClass="foto" width="110" height="82" 
													style="margin: 8px 8px 0px 0px;"/>
								</p:commandLink>
							</ui:repeat>
						</p:panel>
					</p:panelGrid>
					<p:calendar id="calendar" widgetVar="calendar-#{room.id}" mode="inline" locale="pt" pattern="dd/MM/yyyy" 
								beforeShowDay="bookedDays" mindate="#{bookingBean.calendarBean.minDate}"
								maxdate="#{bookingBean.calendarBean.maxDate}" timeZone="America/Sao_Paulo">
						<p:ajax event="dateSelect" listener="#{bookingBean.calendarBean.onDateSelect}"
								partialSubmit="true" process="@this" update="@widgetVar(bookingDialog),@widgetVar(bookeds),@widgetVar(bookedsTitle),@widgetVar(bookBtn),:outputMsg"
								oncomplete="if (!args.exception) {if (args.hasBookings) {PF('bookingDetailsDialog').show();} else {PF('bookingDialog').show();}}"/>
						<p:ajax event="viewChange" listener="#{bookingBean.calendarBean.onViewChange}"
								partialSubmit="true" process="@this" update="bookedDates"/>
					</p:calendar>
				</p:panelGrid>
			</h:form>
		</p:tab>
	</p:tabView>
	<ui:include src="booking-dialog.xhtml"/>
	<ui:include src="booking-details-dialog.xhtml"/>
	<p:dialog id="roomImagesDialog" widgetVar="roomImagesDialog" modal="true" closeOnEscape="true" 
			  dynamic="false" draggable="false" resizable="false" width="640" height="480" 
			  showEffect="fade" hideEffect="fade" styleClass="no-margin no-background room-images" closable="true">
		<h:form id="room-images-form">
			<p:commandButton type="button" onclick="PF('switcher').previous();" icon="ui-icon-circle-triangle-w" id="prev" 
							 style="float: left; z-index: 9999999999999; margin-top: 35%; border-radius: 20px"/>
			<p:commandButton type="button" onclick="PF('switcher').next();" icon="ui-icon-circle-triangle-e" id="next" 
							 style="float: right; z-index: 9999999999999; margin-top: 35%; border-radius: 20px; margin-right: 0px;"/>
			<p:imageSwitch effect="fade" widgetVar="switcher" slideshowAuto="false" styleClass="no-margin">
				<ui:repeat var="image" value="#{bookingBean.calendarBean.room.images}">
					<p:graphicImage url="#{image.path}" styleClass="no-margin"/>
				</ui:repeat>
			</p:imageSwitch>
		</h:form>
	</p:dialog>
	<p:dialog id="imageEditDialog" widgetVar="imageEditDialog" resizable="false" draggable="false" modal="true" visible="false">
		<f:facet name="header">
			<p:graphicImage value="../images/picture_ico.png" style="vertical-align: top; margin-right: 10px;"/>
			<p:outputLabel value="#{msg['header.send.image']}" style="vertical-align: top; line-height: 22px"/>
		</f:facet>			
		<h:form id="image-edit-form" enctype="multipart/form-data">
			<p:panelGrid columns="1" columnClasses="cropper" styleClass="no-margin no-border" style="width: 100%;">
				<p:scrollPanel style="width: 700px; height: 510px; padding: 0 auto;" 
							   styleClass="no-margin no-border no-background cropper" mode="native">
					<p:outputPanel style="width: #{bookingBean.roomBean.imageUploadBean.image.width}px; height: #{bookingBean.roomBean.imageUploadBean.image.height}px;" 
								   styleClass="foto">
						<p:imageCropper value="#{bookingBean.roomBean.imageUploadBean.croppedImage}" 
										image="#{bookingBean.roomBean.imageUploadBean.image.path}" 
										initialCoords="0,0,#{bookingBean.roomBean.imageUploadBean.width},#{bookingBean.roomBean.imageUploadBean.height}" 
										minSize="#{bookingBean.roomBean.imageUploadBean.width},#{bookingBean.roomBean.imageUploadBean.height}" 
										maxSize="#{bookingBean.roomBean.imageUploadBean.width},#{bookingBean.roomBean.imageUploadBean.height}"/>
					</p:outputPanel>
				</p:scrollPanel>
				<p:panel style="text-align: center; padding: 10px 0px;" styleClass="no-border no-margin">
					<p:commandButton value="#{msg['cut']}" actionListener="#{bookingBean.roomBean.onRoomImageSave}" 
									 update="@widgetVar(roomImages-#{bookingBean.calendarBean.room.id})" oncomplete="PF('imageEditDialog').hide();"
									 style="margin-top: 10px; margin-bottom: 10px; margin-right: 5px;"/>
					<p:commandButton value="#{msg['cancel']}" onclick="PF('imageEditDialog').hide();" global="false" 
									 style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px;"/>
				</p:panel>
			</p:panelGrid>
		</h:form>
	</p:dialog>
</f:view>