<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
	</h:head>
	<h:body>
		<h:outputText value="#{applicationBean}" style="display: none"/>

		<p:growl id="outputMsg" widgetVar="outputMsg" globalOnly="false" sticky="false"/>
		<f:loadBundle basename="Language" var="msg"/>

		<p:ajaxStatus id="status" onstart="PF('status').show();" oncomplete="PF('status').hide();"/>

		<p:dialog widgetVar="status" fitViewport="true" closable="false" modal="true" 
				 draggable="false" resizable="false" visible="false" styleClass="status">
			<p:graphicImage value="../images/loader.gif" style="margin: 5px; vertical-align: middle;"/><h:outputText value="Processando, aguarde." style="font-size: 13px; font-weight: bold; margin: 15px"/>
		</p:dialog>

		<h:form>
			<p:confirmDialog global="true" width="600" showEffect="fade" hideEffect="fade" visible="false" closable="false"
							  style="padding: 0px; font-size: 13px; text-align: justify">
				<p:panel style="width: 220px; margin: 0 auto;" styleClass="no-border no-background">
					<p:commandButton value="#{msg['no']}" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" style="float: right; width: 85px;" />
					<p:commandButton value="#{msg['yes']}" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" style="width: 85px;"/>
				</p:panel>
			</p:confirmDialog>
		</h:form>

		<ui:insert name="app-view"/>
	</h:body>
</f:view>
