<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<f:event listener="#{bookingBean.myBookingsBean.onFlatSelect}" type="preRenderView"/>
	<h:form id="my-bookings-form">
   		<p:panel id="bookings" widgetVar="bookings" header="#{msg['header.my.bookings']}" styleClass="content-box" 
   				 style="width: 100%; margin: 0px auto;">
			<p:selectOneMenu id="flat" value="#{bookingBean.myBookingsBean.flat}" filter="true" filterMatchMode="contains"
							 rendered="#{bookingBean.myBookingsBean.flats.size() > 1}" 
							 converter="selectItemsConverter" style="width: 200px; margin: 5px">
				<f:selectItems var="flat" value="#{bookingBean.myBookingsBean.flats}" 
							   itemLabel="#{msg['flat']} #{flat.number} - #{msg['block']} #{flat.block}" 
							   itemValue="#{flat}"/>
				<p:ajax event="change" listener="#{bookingBean.myBookingsBean.onFlatSelect}" update="@widgetVar(bookingTable),@widgetVar(outputMsg)"/>
			</p:selectOneMenu>
			<p:dataTable widgetVar="bookingTable" var="booking" value="#{bookingBean.myBookingsBean.bookings}" paginator="true" 
						 paginatorPosition="bottom" paginatorTemplate="{PreviousPageLink} {NextPageLink}" rows="9" rowKey="#{booking.id}" 
						 emptyMessage="#{msg['msg.no.bookings']}" styleClass="no-header no-border no-background" tableStyleClass="no-border"
						 style="height: 100%;">
			    <p:ajax event="page" global="false"/>
				<p:column style="width: 20px; vertical-align: top">
					<p:panel styleClass="no-background no-border #{bookingBean.calendarBean.getBookingStyle(booking)}" 
							 style="width: 30px; height: 30px;"/>
				</p:column>
				<p:column style="vertical-align: top;">
					<p:panelGrid columns="1" styleClass="no-margin no-border no-background">
						<h:outputText value="#{booking.room.name}" style="font-size: 14px; color: black; font-weight: bold;"/>
						<h:outputText value="#{booking.beginDate}" style="font-size: 12px;">
							<f:convertDateTime pattern="EEEE, dd 'de' MMMM 'de' yyyy"/>
						</h:outputText>
						<p:column>
							<h:outputText value="#{booking.beginDate}">
								<f:convertDateTime pattern="'das' HH:mm'h'" timeZone="America/Sao_Paulo" />
							</h:outputText>
							<h:outputText value="#{booking.endDate}">
								<f:convertDateTime pattern="' às' HH:mm'h'" timeZone="America/Sao_Paulo" />
							</h:outputText>
						</p:column>
					</p:panelGrid>
				</p:column>
				<p:column style="width: 46px; font-size: 13px;">
					<p:panel styleClass="no-border no-background no-margin" rendered="#{bookingBean.myBookingsBean.isInvoiceEnabled(booking)}">
						<p:commandLink title="#{msg['tip.book.invoice']}" actionListener="#{bookingBean.myBookingsBean.setBooking(booking)}" 
									   partialSubmit="true" process="@this" oncomplete="PF('myBookingInvoiceDialog').show();"
									   update=":my-booking-invoice-form,@widgetVar(outputMsg)" disabled="true"
									   rendered="#{!bookingBean.myBookingsBean.hasBookingInvoiceOverdue(booking)}">
							<h:graphicImage value="../images/invoice.png" height="34" width="46"/>
						</p:commandLink>
						<p:commandLink title="#{msg['tip.book.invoice']}" partialSubmit="true" process="@this"
									   actionListener="#{bookingBean.myBookingsBean.onBookingInvoiceUpdate(booking)}"  
									   oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('myBookingInvoiceDialog').show();}"
									   update="@widgetVar(myBookingInvoiceDialog),:outputMsg" disabled="true" 
									   rendered="#{bookingBean.myBookingsBean.hasBookingInvoiceOverdue(booking)}">
							<h:graphicImage value="../images/invoice.png" height="34" width="46"/>
							<p:confirm header="#{msg['header.attention']}" message="#{msg['msg.booking.invoice.overdue']}" icon="ui-icon-alert"/>
						</p:commandLink>
					</p:panel>
					<p:panel styleClass="no-border no-background no-margin" rendered="#{bookingBean.myBookingsBean.isPaid(booking)}">
						<h:graphicImage value="../images/pago.png" height="36" width="49" title="Boleto pago"/>
					</p:panel>
				</p:column>
				<p:column style="width: 35px; font-size: 13px;">
					<p:commandLink title="#{msg['tip.book.edit']}" actionListener="#{bookingBean.myBookingsBean.setBooking(booking)}" 
								   partialSubmit="true" process="@this" oncomplete="PF('myBookingDetailsDialog').show();"
								   update="@widgetVar(myBookingDetailsDialog),:outputMsg">
						<h:graphicImage value="../images/edit.png" />
					</p:commandLink>
				</p:column>
			</p:dataTable>
		</p:panel>
	</h:form>
	<ui:include src="my-booking-details-dialog.xhtml"/>
	<ui:include src="my-booking-invoice-dialog.xhtml"/>
</f:view>