<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<p:dialog id="myBookingInvoiceDialog" widgetVar="myBookingInvoiceDialog" header="Boleto de Pagamento" 
			  modal="true" draggable="false" resizable="false" showEffect="fade" hideEffect="fade" 
			  dynamic="true" width="600" styleClass="invoice">
		<h:form id="my-booking-invoice-form">
			<p:media id="invoice" value="#{bookingBean.myBookingsBean.booking.invoice.link}" 
					 width="100%" height="550px" style="margin: 0px 0px 0px;" player="pdf">
				<h:outputText value="#{msg['msg.media.not.supported']}" escape="false"/>
			</p:media>
		</h:form>
	</p:dialog>
</f:view>