<?xml version="1.0"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:composition template="main-template.xhtml">
		<ui:define name="app-view">
			<h:form id="aform">
				<p:panel styleClass="no-margin no-border no-background" style="text-align: right">
					<p:commandButton value="Cadastrar um espaço" actionListener="#{roomBean.onRoomCreate}" 
									 partialSubmit="true" process="@this" update="@widgetVar(roomTabs),@widgetVar(outputMsg)" 
									 oncomplete="PF('roomDialog').show();" style="font-size: 12px; padding: 2px; margin: 5px 0px 10px;"/>
				</p:panel>
				<p:dataTable widgetVar="roomTable" var="room" value="#{roomBean.rooms}" paginator="true" 
							 paginatorPosition="bottom" paginatorTemplate="{PreviousPageLink} {NextPageLink}" rows="10" rowKey="#{room.id}" 
							 emptyMessage="#{msg['msg.no.rooms']}" styleClass="no-header no-border no-background" tableStyleClass="no-border"
							 style="height: 415px">
				    <p:ajax event="page" global="false"/>
					<p:column style="width: 20px; vertical-align: top">
						<p:panel styleClass="no-background no-border #{roomBean.getRoomStyle(room)}" 
								 style="width: 30px; height: 30px;"/>
					</p:column>
					<p:column style="vertical-align: top;">
						<h:outputText value="#{room.name}" style="font-size: 14px; color: black; font-weight: bold;"/>
					</p:column>
					<p:column style="width: 35px; font-size: 13px;">
						<p:commandLink title="#{msg['tip.room.edit']}" actionListener="#{roomBean.onRoomEdit(room)}" 
									   partialSubmit="true" process="@this" oncomplete="if (!args.exception) {PF('roomDialog').show();}"
									   update=":room-form,@widgetVar(outputMsg)">
							<h:graphicImage value="../images/edit.png" />
						</p:commandLink>
					</p:column>
				</p:dataTable>
			</h:form>
			<p:dialog id="roomDialog" widgetVar="roomDialog" header="#{msg['header.room']}" modal="false" draggable="false" 
					  resizable="false" showEffect="fade" hideEffect="fade" dynamic="true" style="background-color: #f2f2f2;"
					  height="490" width="100%" showHeader="false" position="top">
				<h:form id="room-form">
					<p:tabView widgetVar="roomTabs" styleClass="supplier" style="margin-top: 0px !important">
						<p:tab id="room-details" title="#{msg['header.room.details']}">
							<p:panelGrid columns="1" styleClass="no-background no-border" style="width: 100%; height: 399px">
								<p:panelGrid columns="4" columnClasses="column-20,column-20,column-40,column-20" 
											 styleClass="no-background no-border" style="width: 100%; margin: 10px 0px 0px 0px; padding: 0;">
									<p:column>
										<p:outputLabel for="name" value="#{msg['name']}:"/>
									</p:column>
									<p:column>
										<p:inputText id="name" value="#{roomBean.room.name}"
													 required="true" requiredMessage="#{msg['msg.room.name.empty']}"/>
									</p:column>
									<p:column>
										<h:outputText value="#{msg['capacity']}:"/>
									</p:column>
									<p:column>
										<p:inputText id="capacity" value="#{roomBean.room.capacity}" style="width: 100px"/>
									</p:column>
									<p:column>
										<h:outputText value="#{msg['value']} (R$): "/>
									</p:column>
									<p:column>
										<p:inputText id="value" value="#{roomBean.room.price}" required="true" 
													 requiredMessage="#{msg['person.lastname.empty']}">
											<f:convertNumber locale="pt" minFractionDigits="2"/>
											<pe:keyFilter regEx="/[\d,]/" />
										</p:inputText>
									</p:column>
									<p:column>
										<h:outputText value="#{msg['bookable']}"/>
									</p:column>
									<p:column>
										<p:selectOneRadio id="bookable" value="#{roomBean.room.bookable}" styleClass="kintype">
											<f:selectItem itemLabel="#{msg['yes']}" itemValue="true"/>
											<f:selectItem itemLabel="#{msg['no']}" itemValue="false"/>
										</p:selectOneRadio>
									</p:column>
								</p:panelGrid>
								<p:panelGrid columns="1" styleClass="no-background no-border no-margin" style="width: 100%; margin-bottom: 0px">
									<h:outputText value="#{msg['description']}:"/>
									<p:inputTextarea id="description" value="#{roomBean.room.description}" autoResize="false" 
													 style="width: 97%; height: 85px;" />
								</p:panelGrid>
								<p:panelGrid columns="3" columnClasses="column-35-a" styleClass="no-background no-border no-margin" style="width: 100%; margin-top: 0px">
									<p:column>
										<h:outputText value="#{msg['agreement.term']}:"/>
									</p:column>
									<p:column>
										<p:panel styleClass="no-background no-border no-margin elipsis">
											<h:outputLink id="agreementName" value="#{roomBean.room.agreementURL}" target="_blank" 
														  rendered="#{roomBean.room.agreementURL != null}" 
														  styleClass="agreement" title="#{roomBean.room.agreementName}">
												<h:outputText value="#{roomBean.room.agreementName}"/>
											</h:outputLink>
										</p:panel>
									</p:column>
									<p:column>
										<p:fileUpload id="term" mode="advanced" fileUploadListener="#{roomBean.fileUploadBean.onUpload}" 
													  auto="true" styleClass="agreement-term no-margin" allowTypes="/(\.|\/)(doc?x)$/"
													  update="agreementName" invalidFileMessage="Arquivo inválido: "
													  messageTemplate="Somente arquivos .doc ou .docx são aceitos"/>
									</p:column>
								</p:panelGrid>
								<p:commandButton value="#{msg['save']}" actionListener="#{roomBean.onRoomSave}" 
												 update="@form,@widgetVar(outputMsg)" 
												 partialSubmit="true" process="@parent" 
												 style="float: right; padding: 2px; width: 90px; margin: 5px 0px 5px 0px"/>
							</p:panelGrid>
						</p:tab>
						<p:tab id="room-pictures" title="#{msg['header.room.pictures']}" rendered="#{not roomBean.room.isNew()}">
							<p:panelGrid columns="2" style="width: 100%; height: 399px" styleClass="no-background no-border no-margin5">
								<p:fileUpload label="" fileUploadListener="#{roomBean.imageUploadBean.onUpload}" 
											  auto="true" update=":image-edit-form" oncomplete="PF('roomImageEditDialog').show();"
											  disabled="#{roomBean.room.isNew()}" rendered="true"
											  style="border: 1px dashed #cccccc !important; margin: 3px 8px 0px 0px !important; width: 116px; height: 87px; vertical-align: top"/>
								<p:dataGrid widgetVar="roomImages" columns="3" var="image" value="#{roomBean.room.images}"
											styleClass="no-background no-border no-margin" emptyMessage="">
									<p:column>
										<p:commandLink update="@widgetVar(roomImagesViewDialog)" oncomplete="PF('roomImagesViewDialog').show();"
													   partialSubmit="true" process="@this">
											<p:graphicImage url="#{image.path}" styleClass="foto" width="110" height="82" 
															style="margin: 0px 5px 0px;"/>
										</p:commandLink><br/>
										<p:commandLink value="Excluir" actionListener="#{roomBean.onRoomImageDelete(image)}"
													   update="@widgetVar(roomImages),@widgetVar(outputMsg)" partialSubmit="true" 
													   process="@this">
											<p:confirm header="#{msg['header.attention']}" message="#{msg['msg.room.image.delete.confirm']}" icon="ui-icon-alert"/>
										</p:commandLink>
									</p:column>
								</p:dataGrid>
							</p:panelGrid>
						</p:tab>
						<p:tab id="room-bookings" title="#{msg['header.room.bookings']}" rendered="#{not roomBean.room.isNew()}">
							<p:panelGrid columns="1" styleClass="no-background no-margin5 no-border" style="width: 100%; height: 399px">
								<p:dataTable widgetVar="roomBookingTable" id="roomBookingTable" var="roomBooking" 
											 value="#{roomBean.roomBookings}" rowKey="#{roomBooking.id}" editable="true"
											 style="margin: 0px 0px 0px; width: 100%;" tableStyleClass="no-border"
								             emptyMessage="" styleClass="no-margin no-border flat-box room-bookings" >
									<p:ajax event="rowEdit" listener="#{roomBean.onRoomBookingUpdate}" update="@widgetVar(outputMsg)"/>
									<p:column headerText="#{msg['week.day']}">
										<h:outputText value="#{roomBean.displayWeekDay(roomBooking.weekDay)}"/>
									</p:column>
									<p:column headerText="#{msg['open.hour']}" style="text-align: center">
										<p:cellEditor>
											<f:facet name="input">
												<p:spinner value="#{roomBooking.openHour}" min="0" max="24" size="5" suffix=" horas"/>
											</f:facet>
											<f:facet name="output">
												<h:outputText value="#{roomBooking.openHour} horas"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									<p:column headerText="#{msg['close.hour']}" style="text-align: center">
										<p:cellEditor>
											<f:facet name="input">
												<p:spinner value="#{roomBooking.closeHour}" min="0" max="24" size="5" suffix=" horas"/>
											</f:facet>
											<f:facet name="output">
												<h:outputText value="#{roomBooking.closeHour} horas"/>
											</f:facet>
										</p:cellEditor>
									</p:column>
									<p:column headerText="#{msg['usage.period']}" style="text-align: center">
										<p:cellEditor>
											<f:facet name="output">
												<h:outputText value="Dia inteiro" rendered="#{roomBooking.period == -1}"/>
												<h:outputText value="#{roomBooking.period} horas" rendered="#{roomBooking.period != -1}"/>
											</f:facet>
											<f:facet name="input">
												<p:selectOneMenu id="period" value="#{roomBooking.period}" panelStyle="width: 100px" style="width: 85%">
													<f:selectItem itemLabel="Dia inteiro" itemValue="-1"/>
													<f:selectItem itemLabel="1 hora" itemValue="1"/>
													<f:selectItems var="hour" value="#{roomBean.rangeArray(2, (roomBooking.closeHour - roomBooking.openHour - 1))}" 
																   itemLabel="#{hour} horas" itemValue="#{hour}"/>
												</p:selectOneMenu>
											</f:facet>
										</p:cellEditor>
									</p:column>
									<p:column headerText="Editar">
										<p:rowEditor/>
									</p:column>
								</p:dataTable>
							</p:panelGrid>
						</p:tab>
						<p:tab id="room-blockade" title="#{msg['header.room.blockades']}" rendered="#{not roomBean.room.isNew()}">
							<p:panelGrid columns="1" styleClass="no-background no-border no-margin5" style="width: 100%;">
								<p:panelGrid id="blockadeForm" columns="4" columnClasses="column-30,column-20,column-30-a,column-20" 
											 styleClass="no-border no-background" style="width: 100%; margin: 10px 0px 10px 0px;">
									<p:column>
										<p:outputLabel for="beginDate" value="#{msg['begin']}: "/>
									</p:column>
									<p:column styleClass="fieldClm">
										<p:calendar id="beginDate" value="#{roomBean.roomBlockade.beginDate}" pattern="dd/MM/yyyy"
													mask="true" mode="popup" locale="pt" mindate="#{roomBean.minBlockadeDate}" 
													required="true" requiredMessage="#{msg['msg.begin.date.empty']}"/>
									</p:column>
									<p:column>
										<p:outputLabel for="endDate" value="#{msg['end']}: "/>
									</p:column>
									<p:column>
										<p:calendar id="endDate" value="#{roomBean.roomBlockade.endDate}" pattern="dd/MM/yyyy" 
													mask="true" mode="popup" locale="pt" mindate="#{roomBean.minBlockadeDate}"
													required="true" requiredMessage="#{msg['msg.end.date.empty']}"
													styleClass="jcondo-rooms-portlet"/>
									</p:column>
									<p:column>
										<p:outputLabel value="#{msg['description']}: "/>
									</p:column>
									<p:column>
										<p:inputText value="#{roomBean.roomBlockade.description}" maxlength="100"/>
									</p:column>
									<p:column>
										<p:outputLabel value="#{msg['recursive']} "/>
									</p:column>
									<p:column>
										<p:selectOneRadio id="recursive" value="#{roomBean.roomBlockade.recursive}" styleClass="kintype">
											<f:selectItem itemLabel="#{msg['yes']}" itemValue="true"/>
											<f:selectItem itemLabel="#{msg['no']}" itemValue="false"/>
										</p:selectOneRadio>
									</p:column>
								</p:panelGrid>
								<p:commandButton value="#{msg['save']}" actionListener="#{roomBean.onRoomBlokadeAdd}" 
												 update="blockadeForm,blockadeTable,:outputMsg" partialSubmit="true" process="@parent" 
												 style="float: right; padding: 2px; width: 90px; margin: 10px 0px 5px 0px"/>
								<p:panel header="Datas" styleClass="flat-box" style="margin-bottom: 5px">
									<p:dataTable widgetVar="blockadeTable" id="blockadeTable" var="blockade" 
												 value="#{roomBean.room.roomBlockades}" rowKey="#{blockade.id}" 
												 scrollable="true" scrollHeight="190"
												 style="margin: 0px 0px 0px; width: 100%; height: 190px" tableStyleClass="no-border"
									             emptyMessage="" styleClass="no-margin no-header">
									<p:column>
										<p:panelGrid columns="2" styleClass="no-background no-border no-margin" style="font-size: 14px">
											<p:column>
												<h:outputText value="#{msg['begin']}: "/>
												<h:outputText value="#{blockade.beginDate}" style="font-weight: normal;">
													<f:convertDateTime pattern="EEEE, dd/MM/yyyy" timeZone="America/Sao_Paulo" />
												</h:outputText>
											</p:column>
											<p:column>
												<h:outputText value="#{msg['end']}: "/>
												<h:outputText value="#{blockade.endDate}" style="font-weight: normal;">
													<f:convertDateTime pattern="EEEE, dd/MM/yyyy" timeZone="America/Sao_Paulo" />
												</h:outputText>
											</p:column>
											<p:column>
												<h:outputText value="#{msg['recursive']}: "/>
												<h:outputText value="#{blockade.recursive ? 'Sim' : 'Não'}" style="font-weight: normal;"/>
											</p:column>
											<p:column></p:column>
										</p:panelGrid>
										<p:panel styleClass="no-background no-border no-margin" style="font-size: 14px">
											<h:outputText value="#{msg['description']}: "/>
											<h:outputText value="#{blockade.description}" style="font-weight: normal;"/>
										</p:panel>
									</p:column>
									<p:column style="width: 10%">
										<p:commandLink title="#{msg['phone.delete']}" actionListener="#{roomBean.onRoomBlokadeDelete(blockade)}" 
													   update="blockadeTable,:outputMsg" partialSubmit="true" process="@this" global="false">
											<h:graphicImage value="../images/delete.png" style="vertical-align: middle"/>
											<p:confirm header="#{msg['header.attention']}" message="#{msg['msg.room.blockade.delete.confirm']}" icon="ui-icon-alert"/>
										</p:commandLink>

									</p:column>
									</p:dataTable>
								</p:panel>
							</p:panelGrid>
						</p:tab>
					</p:tabView>
					<p:commandButton value="#{msg['close']}" type="button" onclick="PF('roomDialog').hide();" 
									 global="false" style="float: right; margin: 10px 0px 0px; width: 90px;"/>
				</h:form>
			</p:dialog>
	
			<p:dialog id="roomImageEditDialog" widgetVar="roomImageEditDialog" resizable="false" draggable="false" modal="true" visible="false" style="background-color: #f2f2f2">
				<f:facet name="header">
					<p:graphicImage value="../images/picture_ico.png" style="vertical-align: top; margin-right: 10px;"/>
					<p:outputLabel value="#{msg['header.send.image']}" style="vertical-align: top; line-height: 22px"/>
				</f:facet>			
				<h:form id="image-edit-form" enctype="multipart/form-data">
					<p:panelGrid columns="1" columnClasses="cropper" styleClass="no-background no-margin no-border" style="width: 100%;">
						<p:scrollPanel style="width: 700px; height: 510px; padding: 0 auto;" 
									   styleClass="no-margin no-border no-background cropper" mode="native">
							<p:outputPanel style="width: #{roomBean.imageUploadBean.image.width}px; height: #{roomBean.imageUploadBean.image.height}px;" 
										   styleClass="foto">
								<p:imageCropper value="#{roomBean.imageUploadBean.croppedImage}" 
												image="#{roomBean.imageUploadBean.image.path}" 
												initialCoords="0,0,#{roomBean.imageUploadBean.width},#{roomBean.imageUploadBean.height}" 
												minSize="#{roomBean.imageUploadBean.width},#{roomBean.imageUploadBean.height}" 
												maxSize="#{roomBean.imageUploadBean.width},#{roomBean.imageUploadBean.height}"/>
							</p:outputPanel>
						</p:scrollPanel>
						<p:panel style="text-align: center; padding: 10px 0px;" styleClass="no-background no-border no-margin">
							<p:commandButton value="#{msg['cut']}" actionListener="#{roomBean.onRoomImageAdd}" 
											 update="@widgetVar(roomImages),@widgetVar(outputMsg)" oncomplete="PF('roomImageEditDialog').hide();"
											 style="margin-top: 10px; margin-bottom: 10px; margin-right: 5px;"/>
							<p:commandButton value="#{msg['cancel']}" onclick="PF('roomImageEditDialog').hide();" global="false" 
											 style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px;"/>
						</p:panel>
					</p:panelGrid>
				</h:form>
			</p:dialog>
			<p:dialog id="roomImagesViewDialog" widgetVar="roomImagesViewDialog" modal="true" closeOnEscape="true" 
					  dynamic="false" draggable="false" resizable="false" width="640" height="480" position="top"
					  showEffect="fade" hideEffect="fade" styleClass="no-margin no-background room-images" closable="true">
				<h:form id="room-images-view-form">
					<p:commandButton type="button" onclick="PF('sw').previous();" icon="ui-icon-circle-triangle-w" id="prev" 
									 style="float: left; z-index: 9999999999999; margin-top: 35%; border-radius: 20px"/>
					<p:commandButton type="button" onclick="PF('sw').next();" icon="ui-icon-circle-triangle-e" id="next" 
									 style="float: right; z-index: 9999999999999; margin-top: 35%; border-radius: 20px; margin-right: 0px;"/>
					<p:imageSwitch effect="fade" widgetVar="sw" slideshowAuto="false" styleClass="no-margin">
						<ui:repeat var="image" value="#{roomBean.room.images}">
							<p:graphicImage url="#{image.path}" styleClass="no-margin"/>
						</ui:repeat>
					</p:imageSwitch>
				</h:form>
			</p:dialog>
		</ui:define>
	</ui:composition>
</f:view>