.col15px {width: 15px;}

.flat-left {
	vertical-align: top;
	width: 35%;
}

.flat-right {
	vertical-align: top;
	width: 65%;
}

.flat-details {
	text-align: left;
	width: 100%;
	padding: 6px 6px 6px 6px !important;
}

.flat-details label {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: inherit;
}

.person-cmds {
	width: 100%;
	border-left: 1px solid #cccccc !important;
	border-right: 1px solid #cccccc !important;
	border-top: 1px solid #cccccc !important;
}

.person-cmds img {
	height: inherit;
}

.person-cmds td {
	background: #f9f9f9;
}

.person-cmds-left {
	width: 360px;
}

.person-cmds-right {
	text-align: right;
	width: 185px;
}

.searchField {
	font-style: italic; 
	width: 75% !important;
	-webkit-border-top-right-radius: 0px !important;
	-webkit-border-bottom-right-radius: 0px !important;
	-moz-border-radius-topright: 0px !important;
	-moz-border-radius-bottomright: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-right: none !important;
}

.searchBtn {
	-webkit-border-top-left-radius: 0px !important;
	-webkit-border-bottom-left-radius: 0px !important;
	-moz-border-radius-topleft: 0px !important;
	-moz-border-radius-bottomleft: 0px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	background: #ffffff !important;
	font-weight: normal !important;	
}

.searchBtn .ui-button-text {
	padding: 4px 8px !important;
	display: inline !important;
}

.vehicle-box {
	padding: 0 !important;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc;
	-moz-box-shadow: 1px 2px 3px 0px #cccccc;
	box-shadow: 1px 2px 3px 0px #cccccc;
	background: #f9f9f9;
	text-align: center; 
	height: 250px;
	background-color: #f9f9f9 !important;
}

.vehicle-box .ui-panel-titlebar {
	background: #cccccc !important;
	border: none !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
}

.vehicle-box .foto {
	width: 138px !important; 
	height: 104px !important; 
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 100px 90px !important; 
	margin: 0 auto 5px !important;
	text-align: center; 
}

.vehicle-portrait {
	width: 400px !important; 
	height: 300px !important; 
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: 327px 300px !important; 
	margin: 0 auto 5px !important;
	text-align: center; 
}

.foto.car {
	background: url("../images/car.png"); 
}

.foto.moto {
	background: url("../images/moto.png"); 
}

.foto.bike {
	background: url("../images/bike.png"); 
}

.avatar {
	background: url("../images/avatar.png") no-repeat !important;
	background-size: 158px 240px !important; 
	text-align: center !important;
	width: 158px !important; 
	height: 240px !important; 
}

.avatar-thumb {
	background: url("../images/avatar.png") no-repeat !important;
	background-size: 52px 80px !important; 
	text-align: center !important;
	width: 52px !important; 
	height: 80px !important; 
}


.primary-left {width: 10%; vertical-align: top;}

.primary-right {vertical-align: top}

.dialog-buttons-grid {
	float: right;
}

.dialog-buttons-grid td {
	padding-right: 0px !important;
}

.phones dl {
	margin: 0px;
}

.cropper {
	vertical-align: top !important;
}

.cropper>div {
	margin: 0px auto !important; 
	padding: 0px auto !important; 
	text-align: center !important;
}

.person-details-grid {
	width: 100%;
	height: 390px;
}

.employee-details-grid {
	width: 100%;
}

.employee-details-grid .ui-panelgrid-cell {
	vertical-align: top;
}

.ui-tabs.person-register {
	padding: 10px;
}

.person-register .ui-tabs-panel {
	height: 450px;
	width: 580px; 
}

.person-details-grid .ui-panelgrid-cell {
	vertical-align: top;
}

.person-info-grid {
	width: 100%;
}

.person-info-grid .ui-panelgrid-cell {
	vertical-align: middle;
}

.person-info-grid label {
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 13px !important;
}

.person-info-grid .ui-selectonemenu {
	 width: 230px !important;	
}

.person-info-grid input.ui-inputfield {
	width: 242px !important;
}

.person-info-buttons {
	margin: 5px 10px;
}

.person-info-buttons .ui-button {
	width: 95px;
}

.person-portrait-grid {
	float: right;
}

.vehicle-details-grid {
	width: 100%;
	vertical-align: top;
}

.vehicle-info-grid .ui-selectonemenu {
	 width: 310px !important;	
}

.vehicle-info-grid .ui-inputmask {
	 width: 323px !important;
}

.vehicle-details-grid label {
	font-weight: bold;
	margin-bottom: inherit;
}

.ui-fileupload.ui-widget {
	border: none !important; 
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;	
	margin: 1px 6px !important;	
}

.ui-fileupload>div {
	background: none !important; 
	padding: 0 !important; 
	border: none !important; 
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border: none !important;			
}
 
.ui-fileupload-choose {
	width: 33px !important; 
	height: 31px !important; 
	background: none !important; 
	border: none !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
}

.ui-button.ui-fileupload-choose {
	padding: 0px !important;
}

.ui-fileupload-choose .ui-icon-plusthick {
	margin-top: -16px !important; 
	margin-left: -4px !important;
	background: url("../images/send-pic.png") !important; 
	width: 33px !important; 
	height: 31px !important; 
	line-height: 31px;
	border-radius: 0 !important;
	-webkit-border-radius: 0 !important; -moz-border-radius: 0 !important; border: none !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;	
}

.ui-fileupload-choose .ui-button-text {
	margin: 0 !important; 
	width: 33px !important; 
	height: 31px !important; 
	line-height: 31px !important;
	border: none !important;
	-webkit-box-shadow: none !important; -moz-box-shadow: none !important; box-shadow: none !important;
 }
 
 .ui-fileupload-choose .ui-c {
	border: none !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
 }
 
 .ui-fileupload-choose input {
	border: none !important;
	-webkit-box-shadow: none !important; 
	-moz-box-shadow: none !important; 
	box-shadow: none !important;
 }

.ui-fileupload-files {
	position: absolute !important; 
	z-index: 9999999999999999 !important; 
	background: #ffffff !important;
	-webkit-box-shadow: 1px 2px 3px 0px #cccccc; 
	-moz-box-shadow: 1px 2px 3px 0px #cccccc; 
	box-shadow: 1px 2px 3px 0px #cccccc;
	border-radius: 5px !important; 
	-webkit-border-radius: 5px !important; 
	-moz-border-radius: 5px !important;
}

.person-portrait-grid .ui-fileupload-files {
	top: 40% !important; left: 21% !important; 
}

.vehicle-portrait-grid .ui-fileupload-files {
	top: 40% !important; left: 10% !important; 
}

.ui-fileupload-files td {
	padding: 10px !important;
	vertical-align: middle !important;
}

.ui-fileupload-files td:nth-child(2), .ui-fileupload-files td:nth-child(3) {
	display: none !important;
}


.vehicle-camera-buttons {
	margin: 5px 15px;
}

.vehicle-camera-buttons .ui-button {
	width: 90px;
}

.parking-rent-buttons {
	margin: 5px 10px;
}

.parking-rent-buttons .ui-button {
	width: 100px;
}

.parking-rent-grid .ui-selectonemenu {
	 width: 252px !important;	
}

.access-permission-buttons {
	margin: 5px 0px 5px 10px;
}

.access-permission-buttons .ui-button {
	width: 95px;
}

.access-permission-grid label {
	font-size: 14px !important;
}

.access-permission-grid .ui-calendar .ui-inputfield {
	width: 100px;
}

.search-grid {
	padding: 0; 
	margin: 10px;
}

.supplier-cmds {
	width: 100%;
}

.supplier-tabs {
	margin: 10px;
}

.supplier-tabs label{
	margin-bottom: inherit;
	font-weight: bold;
}

.supplier-cmds .ui-button {
	float: left;
}

.supplier-cmds .ui-selectonemenu {
	float: right;
	width: 100%;
}

.supplier-info-grid {
	width: 100%; margin-top: 10px; margin-bottom: 10px;
}

.employee-cmds {
	width: 100%;
	border-left: 1px solid #cccccc !important;
	border-right: 1px solid #cccccc !important;
	border-top: 1px solid #cccccc !important;
}

.employee-cmds img {
	height: inherit;
}

.employee-cmds td {
	background: #f9f9f9;
}

.employee-cmds-left {
	width: 360px;
}

.employee-cmds-right {
	text-align: right;
	width: 185px;
}

.department-cmds {
	width: 100%;
}

.department-tabs {
	margin: 10px;
}

.department-tabs label{
	margin-bottom: inherit;
	font-weight: bold;
}

.department-cmds .ui-button {
	float: left;
}

.department-cmds .ui-selectonemenu {
	float: right;
	width: 100%;
}

.department-info-grid {
	width: 100%; 
	margin-top: 10px;
	margin-bottom: 10px;
}

.department-info-grid input, .department-info-grid textarea {
	width: 97%;	
}

.department-info-grid .labelClm {
	width: 20%;
}

.department-info-grid .fieldClm {
	
}

.col40px {
	width: 40px;
}

.col30 {
	width: 20% !important;
}

.autocomplete-text .ui-autocomplete-input {
    width: 94%;
}

.autocomplete-select .ui-autocomplete-input {
	padding: 4px 4px 4px 8px !important;
    width: 95%;
    border-right: 0px !important;
    border-radius: 3px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-color: #a8a8a8 !important;
}

.autocomplete-select .ui-autocomplete-dropdown {
	width: 24px !important;
}

.ui-datalist-empty-message {
    font-size: 14px;
    color: black;
    font-weight: bold;
    padding: 0 !important;
}