<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:form id="department-member-form">
		<p:panelGrid columns="2" styleClass="no-border employee-cmds" columnClasses="employee-cmds-left,employee-cmds-right">
			<p:column>
				<p:inputText id="admmemberName" widgetVar="admmemberName" valueChangeListener="#{departmentBean.personListBean.onPersonSearch}" 
							 placeholder="Buscar pelo nome" styleClass="searchField"/>
				<p:commandButton value="Buscar" update="@widgetVar(memberTable)" partialSubmit="true" 
								 process="@widgetVar(admmemberName)" styleClass="searchBtn"/>
			</p:column>

			<p:commandButton value="Cadastrar uma pessoa" actionListener="#{departmentBean.personListBean.onPersonCreate}" 
							 partialSubmit="true" process="@this" update="@widgetVar(memberDialog)" oncomplete="PF('memberDialog').show();"/>
							 
			<p:selectCheckboxMenu id="memberType" widgetVar="memberType" label="Categorias" 
								  value="#{departmentBean.personListBean.selectedPersonTypes}" converter="typeConverter" 
								  showHeader="false" style="font-size: 13px; float: left; width: 200px;" panelStyle="width: 195px;">
				<f:selectItems var="type" value="#{departmentBean.personListBean.personTypesFilter}" itemLabel="#{msg[type.label]}" itemValue="#{type}"/>
				<p:ajax event="change" listener="#{departmentBean.personListBean.onPersonTypeSelect}" update="@widgetVar(memberTable)"/>
    		</p:selectCheckboxMenu>

			<p:column></p:column>
		</p:panelGrid>

		<p:dataTable widgetVar="memberTable" id="memberTable" var="member" value="#{departmentBean.personListBean.model}"  
		             paginator="true" paginatorPosition="bottom" paginatorTemplate="{PreviousPageLink} {NextPageLink}"
		             emptyMessage="Nenhum funcionário cadastrado" rows="5" rowKey="#{member.id}" 
		             disabledSelection="#{!departmentBean.personListBean.canEditPerson(member)}" styleClass="no-header no-border"
		             tableStyleClass="no-border">
		    <p:ajax event="page" global="false"/>
			<p:column style="width: 49px;">
				<p:panel styleClass="foto no-margin no-background" style="width: 43px !important; height: 66px !important">
					<p:graphicImage value="#{member.portrait.path}" height="66" width="43" cache="false" />
				</p:panel>
			</p:column>
			<p:column style="vertical-align: top">
				<p:panelGrid columns="1" styleClass="no-background no-border">
	       			<h:outputText value="#{member.name} #{member.surname}" style="font-size: 14px; color: black; font-weight: bold;"/>
	       			<p:panel styleClass="no-background no-border no-margin" style="width: 50%">
	       				<h:outputText value="#{msg[departmentBean.personListBean.displayMembership(member)]}" style="vertical-align: top;"/>
				        <p:graphicImage value="../images/question.png" width="15" height="15" style="margin-left: 5px;"/>
					    <p:tooltip for="@parent:@child(1)" value="#{msg[departmentBean.personListBean.displayMembership(member).concat('.desc')]}" rendered="true" style="width: 220px; font-size: 12px; "/>
				    </p:panel>
				</p:panelGrid>
			</p:column>
			<p:column style="width: 35px">
				<p:commandLink title="Editar este usuário" actionListener="#{departmentBean.personListBean.onPersonEdit}" oncomplete="PF('memberDialog').show();" 
							   partialSubmit="true" process="@this" update="@widgetVar(memberDialog)" global="false" disabled="#{!departmentBean.personListBean.canEditPerson(member)}">
					<h:graphicImage value="../images/edit.png"/>
				</p:commandLink>
			</p:column>
			<p:column style="width: 35px">
				<p:commandLink title="Excluir este usuário" actionListener="#{departmentBean.personListBean.onPersonDelete}" 
							   partialSubmit="true" process="@this" global="false" update="@widgetVar(memberTable),:outputMsg" 
							   disabled="#{!departmentBean.personListBean.canDeletePerson(member)}">
					<h:graphicImage value="../images/cancel2.png" />
					<p:confirm header="#{msg['header.person.delete.confirm']}" message="#{msg['msg.department.person.delete']}" icon="ui-icon-alert"/>
				</p:commandLink>
			</p:column>
		</p:dataTable>
	</h:form>


</f:view>
