<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:composition template="main-template.xhtml">
		<ui:define name="app-view">
			<h:form id="mail-list-form">
				<p:panelGrid columns="2" columnClasses="col20top,vertical" style="width: 100%" styleClass="no-border no-background">
					<p:commandButton value="Cadastrar Correspondência" actionListener="#{mailListBean.mailBean.onMailCreate}" 
									 update="@widgetVar(mailDialog)" oncomplete="PF('mailDialog').show();" 
									 style="font-size: 12px; margin: 0 auto !important; padding:0;"/>
					<p:column></p:column>
					<p:panelGrid columns="1" style="width: 100%" styleClass="no-border no-background">
						<p:outputLabel value="Número: " style="vertical-align: top;"/>
						<p:inputText id="mailId" value="#{mailListBean.mailId}" style="width: 93% !important"/>
						<p:outputLabel value="Código: " style="vertical-align: top;"/>
						<p:inputText id="code" value="#{mailListBean.code}" style="width: 93% !important"/>
						<p:outputLabel value="Destinatario: " style="vertical-align: top;"/>
						<p:inputText id="recipientName" value="#{mailListBean.recipientName}" style="width: 93% !important"/>
						<p:outputLabel value="Apartamento: " style="vertical-align: top;"/>
					   	<p:selectOneMenu id="flat" value="#{mailListBean.flat}" filter="true" filterMatchMode="contains" 
					   					 converter="selectItemsConverter" style="width: 200px">
					   		<f:selectItem itemLabel="Selecione" noSelectionOption="true"/>
							<f:selectItems var="flat" value="#{mailListBean.flats}" 
										   itemLabel="Apartamento #{flat.number} - Bloco #{flat.block}" itemValue="#{flat}"/>
					   	</p:selectOneMenu>
						<p:commandButton value="Buscar" actionListener="#{mailListBean.onMailSearch}" 
										 update="@widgetVar(mailTable)" style="font-size: 12px; margin: 0; padding:0; float: right"/>
					</p:panelGrid>
			
					<p:dataTable widgetVar="mailTable" id="mailTable" var="mail" value="#{mailListBean.mails}"  
					             paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5"
					             paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}" style="font-size: 14px"
					             currentPageReportTemplate="{totalRecords}" emptyMessage="Nenhuma correspodência encontrada" 
					             rowKey="#{mail.id}" styleClass="no-header no-border" tableStyleClass="no-border">
					    <p:ajax event="page" global="false"/>
						<p:column>
							<p:panelGrid columns="3" columnClasses="col20,nil,col20" styleClass="no-background no-border" style="text-align: center; font-size: 16px !important">
								<p:column>
									<h:graphicImage value="../images/telegram.png" width="25" height="25" style="float: left; margin-right: 7px" title="Notificado via telegram em 26/01/2017" rendered="false"/>
									<h:graphicImage value="../images/mail.png" width="25" height="25" style="float: left; margin-right: 7px" title="Notificado via e-mail em 26/01/2017" rendered="false"/>
									<h:graphicImage value="../images/phone.png" width="24" height="24" style="float: left" title="Notificado via interfone em 26/01/2017" rendered="false"/>
								</p:column>
								<p:column>
									<h:outputText value="#{msg[mail.type.label]} - "/>
									<h:outputText value="##{mail.id} - "/>
									<h:outputText value="#{mail.dateIn}">
					       				<f:convertDateTime pattern="dd/MM/yy" timeZone="America/Sao_Paulo" />
					       			</h:outputText>
								</p:column>
								<p:column>
									<p:commandLink title="Editar esta correspondência" 
												   oncomplete="PF('mailDialog').show();" 
												   partialSubmit="true" process="@this" update="@widgetVar(mailDialog)" 
												   global="false" style="float: right" disabled="#{mail.dateOut != null}">
										<h:graphicImage value="../images/edit.png" width="25" height="25"/>
										<f:setPropertyActionListener target="#{mailListBean.mailBean.mail}" value="#{mail}"/>
									</p:commandLink>
								</p:column>
							</p:panelGrid>
							<p:panelGrid styleClass="no-background no-border">
								<p:row>
									<p:column style="width: 75%"><p:outputLabel value="Destinatário"/></p:column>
									<p:column><p:outputLabel value="Código"/></p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
										<p:spacer width="100%" height="1px" style="background: #313131; display: block;"/>
									</p:column>
								</p:row>
								<p:row style="font-weight: normal; vertical-align: top !important">
									<p:column>
										<h:outputText value="#{mail.recipient.fullName}" rendered="#{mail.recipient.id > 0}"/>
										<h:outputText value="#{mail.recipientName}" rendered="#{mail.recipient.id == 0}"/>
										<h:outputText value=" - #{mailListBean.displayDomainName(mail.recipient.domain)}"/>
									</p:column>
									<p:column>
										<h:outputText value="#{mail.code}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column><p:outputLabel value="Retirada por"/></p:column>
									<p:column><p:outputLabel value="Retirada em"/></p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
										<p:spacer width="100%" height="1px" style="background: #313131; display: block;"/>
									</p:column>
								</p:row>									
								<p:row style="font-weight: normal; vertical-align: top !important">
									<p:column>
										<p:lightBox>
						       				<p:commandLink update="signature" global="false">
							       				<h:outputText value="#{mail.taker.fullName}" rendered="#{mail.dateOut != null and mail.takerId > 0}"/>
							       				<h:outputText value="#{mail.takerName}" rendered="#{mail.dateOut != null and mail.takerId == 0}"/>
							       				<f:setPropertyActionListener target="#{mailListBean.mailBean.mail}" value="#{mail}"/>
											</p:commandLink>
											<f:facet name="inline">
												<p:graphicImage id="signature" url="#{mailListBean.mailBean.mail.signature.path}"/>
											</f:facet>
										</p:lightBox>
									</p:column>
									<p:column>
						       			<h:outputText value="#{mail.dateOut}" rendered="#{mail.dateOut != null}">
						       				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" />
						       			</h:outputText>
									</p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
									<p:panel header="Observações" toggleable="true" collapsed="true" styleClass="no-background no-margin no-border mail-notes" style="width:100%">
										
									</p:panel>
									</p:column>
								</p:row>
							</p:panelGrid>
						</p:column>
					</p:dataTable>
				</p:panelGrid>
			</h:form>

			<ui:include src="mail-view.xhtml"/>
		</ui:define>
	</ui:composition>
</f:view>