<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<p:dialog id="mailDialog" widgetVar="mailDialog" modal="true" resizable="false" width="530" style="background: #f9f9f9" dynamic="true">
		<f:facet name="header">
			<p:graphicImage value="../images/letter.png"/>
			<p:outputLabel value="Cadastro de correspondência"/>
		</f:facet>
		<h:form id="mail-form">
			<p:panelGrid columns="2" columnClasses="col30,mailClm" styleClass="no-margin4 no-border no-background" style="width: 100%;">
				<p:outputLabel value="Identificador:" rendered="#{mailListBean.mailBean.mail.id > 0}" style="vertical-align: top !important"/>
				<h:outputText value="#{mailListBean.mailBean.mail.id}" rendered="#{mailListBean.mailBean.mail.id > 0}" style="vertical-align: top !important"/>
				<p:outputLabel for="recipient" value="Destinatário:" style="vertical-align: top !important"/>
				<p:column>
					<p:autoComplete id="recipient" widgetVar="recipient" value="#{mailListBean.mailBean.mail.recipient}" 
									completeMethod="#{mailListBean.mailBean.onPersonComplete}" var="recipient" converter="personCompleteConverter"
									itemLabel="#{mailListBean.mailBean.displayName(recipient)}" itemValue="#{recipient}" panelStyle="font-size: 14px" 
									style="width: 100%; color: #000000 !important; vertical-align: top !important"
									required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}"
									requiredMessage="Informe o destinatário da correspondência" styleClass="no-border" 
									itemtipAtPosition="right top" itemtipMyPosition="left" maxResults="10" disabled="#{mailListBean.mailBean.mail.id > 0}">
						<p:ajax event="itemSelect" listener="#{mailListBean.mailBean.onRecipientSelect}" update="notify" global="false"/>
						<p:ajax event="blur" listener="#{mailListBean.mailBean.onRecipientUnselect}" update="notify" immediate="true" global="false"/>
						<p:ajax event="query" global="false" />
						<f:facet name="itemtip">
							<p:panel styleClass="foto no-margin no-background" style="width: 158px !important; height: 240px !important;">
								<p:graphicImage value="#{recipient.portrait.path}" cache="false" />
							</p:panel>
						</f:facet>
					</p:autoComplete>
				</p:column>
				<p:outputLabel for="code" value="Código:"/>
				<p:inputText id="code" value="#{mailListBean.mailBean.mail.code}" disabled="#{mailListBean.mailBean.mail.id > 0}" 
							 required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}" 
							 requiredMessage="Informe o código da correspodência"/>
				<p:outputLabel for="type" value="Tipo:"/>
				<p:selectOneRadio id="type" value="#{mailListBean.mailBean.mail.type}" style="width: 200px" 
								  required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}" 
								  requiredMessage="Informe o tipo da correspodência" disabled="#{mailListBean.mailBean.mail.id > 0}">
					<f:selectItems var="type" value="#{mailListBean.mailBean.mailTypes}" itemLabel="#{msg[type.label]}" itemValue="#{type}"/>
			   	</p:selectOneRadio>
			   	<p:outputLabel for="openDate" value="Recebida em:"/>
			   	<p:calendar id="openDate" value="#{mailListBean.mailBean.mail.dateIn}" disabled="#{mailListBean.mailBean.mail.id > 0}"
			   				required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}"
			   				requiredMessage="Informe a data de recebimento da correspondência" locale="pt" pattern="dd/MM/yyyy"/>
				<p:outputLabel for="remark" value="Observações:" rendered="false"/>
				<p:inputTextarea id="remark" value="#{mailListBean.mailBean.mail.remark}" autoResize="false" maxlength="200"
								 style="width: 95%;" rendered="false"/>
			</p:panelGrid>
			<p:spacer width="80%" height="1px" style="background: #cccccc; margin: 14px auto !important; display: block;" rendered="false"/>
			<p:panelGrid columns="1" styleClass="no-margin no-border no-background" style="width: 100%;">
				<p:selectBooleanCheckbox id="notify" value="#{mailListBean.mailBean.notify}" itemLabel="Notificar recebimento" 
										 rendered="false" disabled="#{!mailListBean.mailBean.notifyEnable}" 
										 style="margin: 10px 0px 5px 10px">
					<p:ajax event="change" update="close" partialSubmit="true" process="@this" global="false"/>
				</p:selectBooleanCheckbox>

				<p:selectBooleanCheckbox value="#{mailListBean.mailBean.close}" itemLabel="Correspondência já foi retirada" 
										 rendered="#{mailListBean.mailBean.mail.id == 0}" style="margin: 5px 0px 10px 10px">
					<p:ajax event="change" update="close" partialSubmit="true" process="@this" global="false"/>
				</p:selectBooleanCheckbox>

			  	<p:panelGrid id="close" columns="2" columnClasses="col30,mailClm" styleClass="no-margin4 no-border no-background" style="width: 100%;">
				   	<p:outputLabel for="closeDate" value="Retirada em:" style="margin: 10px 0px !important"/>
				   	<p:calendar id="closeDate" value="#{mailListBean.mailBean.mail.dateOut}" disabled="#{mailListBean.mailBean.mail.id == 0 and not mailListBean.mailBean.close}" 
				   				required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}" locale="pt" pattern="dd/MM/yyyy"
				   				requiredMessage="Informe a data de retirada da correspondência" style="width: 100% !important;"/>
				   	<p:outputLabel for="taker" value="Retirada por:"/>
				   	<p:panelGrid columns="3" columnClasses="nil,col40px,col40px" styleClass="no-border no-background no-margin" style="width: 100%">
						<p:autoComplete id="taker" widgetVar="taker" value="#{mailListBean.mailBean.mail.taker}" 
										completeMethod="#{mailListBean.mailBean.onPersonComplete}" var="taker" itemLabel="#{taker.fullName}" 
										itemValue="#{taker}" disabled="#{mailListBean.mailBean.mail.id == 0 and not mailListBean.mailBean.close}" 
										converter="personCompleteConverter" style="width: 100% !important; color: #000000 !important"
										required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}"
										requiredMessage="Informe a pessoa que retirou a correspondência" styleClass="no-border" 
										itemtipAtPosition="right top" itemtipMyPosition="left" maxResults="10" forceSelection="true">
							<p:ajax event="itemSelect" update="takerEdit" global="false"/>
							<p:ajax event="blur" listener="#{mailListBean.mailBean.onTakerUnselect}" immediate="true" global="false" update="takerEdit" async="true"/>
							<p:ajax event="query" global="false" />
							<f:facet name="itemtip">
								<p:panel styleClass="foto no-margin no-background" style="width: 158px !important; height: 240px !important">
									<p:graphicImage value="#{taker.portrait.path}" cache="false" />
								</p:panel>
							</f:facet>
						</p:autoComplete>
						<p:commandLink id="takerEdit" title="Editar" actionListener="#{mailListBean.mailBean.onTakerCreate}"
									   partialSubmit="true" process="@this" update=":outputMsg,@widgetVar(takerDialog)" 
									   oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('takerDialog').show();}"
									   disabled="#{mailListBean.mailBean.mail.taker == null or (mailListBean.mailBean.mail.id == 0 and not mailListBean.mailBean.close)}">
							<h:graphicImage value="../images/edit.png" style="vertical-align: middle"/>
						</p:commandLink>
						<p:commandLink title="Cadastrar" actionListener="#{mailListBean.mailBean.takerBean.onPersonCreate}"
									   partialSubmit="true" process="@this" update=":outputMsg,@widgetVar(takerDialog)" 
									   oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('takerDialog').show();}"
									   disabled="#{mailListBean.mailBean.mail.id == 0 and not mailListBean.mailBean.close}">
							<h:graphicImage value="../images/plus.png" style="vertical-align: middle"/>
						</p:commandLink>
					</p:panelGrid>					
					<p:outputLabel for="signature" value="Assinatura: *"/>
					<p:column>
						<p:panelGrid columns="3" columnClasses="nil,col15top,col15top" styleClass="no-border no-margin no-background" 
									 style="text-align: center; float: right; vertical-align: top; width: 100%">
							<p:panel id="signature" widgetVar="signature" styleClass="foto no-margin no-background" style="width: 240px !important; height: 120px !important">
								<p:graphicImage value="#{mailListBean.mailBean.signature.path}" width="240" height="120" cache="false" rendered="#{mailListBean.mailBean.signature != null}"/>
							</p:panel>
							<p:fileUpload label="" fileUploadListener="#{mailListBean.mailBean.imageUploadBean.onUpload}" auto="true" 
										  disabled="#{mailListBean.mailBean.mail.id == 0 and not mailListBean.mailBean.close}" 
										  update="@widgetVar(signaturePictureDialog)" oncomplete="PF('signaturePictureDialog').show();" 
										  style="margin-top: 5px;float:right"/>
							<p:commandLink title="#{msg['tooltip.take.picture']}" actionListener="#{mailListBean.mailBean.cameraBean.setRender(true)}" 
										   update="@widgetVar(signatureCameraDialog)" oncomplete="PF('signatureCameraDialog').show();" style="float:right;" 
										   partialSubmit="true" global="false" process="@this" styleClass="column" 
										   disabled="#{mailListBean.mailBean.mail.id == 0 and not mailListBean.mailBean.close}">
								<h:graphicImage value="../images/take-pic.png" width="38" height="31"/>
								<f:setPropertyActionListener target="#{mailListBean.mailBean.cameraBean.image.path}" value=""/>
							</p:commandLink>
						</p:panelGrid>
					</p:column>
			  	</p:panelGrid>
			</p:panelGrid>
			<p:panel styleClass="no-border no-margin no-background" style="height: 50px">
				<p:commandButton value="Cancelar" type="button" onclick="PF('mailDialog').hide();"
								 style="float: right; width: 100px; padding: 5px !important; margin: 15px 0px 10px 0px;"/>
				<p:commandButton value="Salvar" actionListener="#{mailListBean.mailBean.onMailSave}" update="@widgetVar(mailTable),@form,:outputMsg"
								 oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('mailDialog').hide();}" binding="#{save}" 
								 style="float: right; width: 100px; padding: 5px !important; margin: 15px 10px 10px 0px;"/>
			</p:panel>
			<p:confirmDialog widgetVar="newMailDialog" message="#{msg['person.domain.add.request']}" width="600" 
							 showEffect="fade" hideEffect="fade" visible="false" closable="false" 
							 style="padding: 0px; font-size: 13px; text-align: justify">
				<p:panel style="width: 100%; text-align: center" styleClass="no-border no-background">
					<p:commandButton value="#{msg['no']}" type="button" onclick="PF('personFoundDialog').hide();PF('personDialog').hide();" 
									 styleClass="ui-confirmdialog-no" style="margin: 0 auto; width: 85px;" />
					<p:commandButton value="#{msg['yes']}" actionListener="#{flatBean.personListBean.onMembershipAddRequest}" 
									 update=":outputMsg" oncomplete="PF('personDialog').hide();" icon="ui-icon-check" 
									 styleClass="ui-confirmdialog-yes" style="width: 85px;" rendered="false"/>
				</p:panel>
			</p:confirmDialog>
		</h:form>
	</p:dialog>

	<p:dialog id="signaturePictureDialog" widgetVar="signaturePictureDialog" modal="true" resizable="false" width="530" style="background: #f9f9f9">
		<f:facet name="header">
			<p:graphicImage value="../images/picture_ico.png"/>
			<p:outputLabel value="Envio de Foto"/>
		</f:facet>			
		<h:form id="mail-picture-form" enctype="multipart/form-data">
			<p style="text-align: justify;"><h:outputText value="#{msg['msg.vehicle.picture.instructions']}"/></p>
			<p:panelGrid columns="1" columnClasses="cropper" styleClass="no-margin no-border no-background" style="width: 100%;">
				<p:scrollPanel style="width: 510px; height: 330px; padding: 0 auto;" styleClass="no-margin no-border no-background cropper" mode="native">
					<p:outputPanel style="width: #{mailListBean.mailBean.imageUploadBean.image.width}px; height: #{mailListBean.mailBean.imageUploadBean.image.height}px;" styleClass="foto">
						<p:imageCropper value="#{mailListBean.mailBean.imageUploadBean.croppedImage}" image="#{mailListBean.mailBean.imageUploadBean.image.path}" 
										initialCoords="0,0,480,240" minSize="480,240" maxSize="480,240"/>
					</p:outputPanel>
				</p:scrollPanel>
				<p:panel style="text-align: center; padding: 10px 0px;" styleClass="no-border no-margin no-background">
					<p:commandButton value="Recortar" actionListener="#{mailListBean.mailBean.imageUploadBean.onCropp}" 
									 update="@widgetVar(signature)" oncomplete="PF('signaturePictureDialog').hide();"
									 style="margin-top: 10px; margin-bottom: 10px; margin-right: 5px;">
						<f:setPropertyActionListener value="#{mailListBean.mailBean.imageUploadBean.image}" target="#{mailListBean.mailBean.signature}"/>
					</p:commandButton>
					<p:commandButton value="Cancelar" oncomplete="PF('signaturePictureDialog').hide();" partialSubmit="true" process="@this" 
									 global="false" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px;">
						<f:setPropertyActionListener target="#{mailListBean.mailBean.imageUploadBean.image.path}" value=""/>
					</p:commandButton>
				</p:panel>
			</p:panelGrid>
		</h:form>
	</p:dialog>

	<p:dialog id="signatureCameraDialog" widgetVar="signatureCameraDialog" modal="true" resizable="false" width="880" style="background: #f9f9f9">
		<f:facet name="header">
			<p:graphicImage value="../images/picture_ico.png"/>
			<p:outputLabel value="Captura de Imagem"/>
		</f:facet>
		<h:form id="mail-camera-form">
			<p style="text-align: justify;"><h:outputText value="#{msg['msg.vehicle.camera.instructions']}"/></p>
			<p:panelGrid columns="2" columnClasses="vertical,vertical" styleClass="no-border no-background">
				<p:panel styleClass="no-background no-border no-margin">
					<p:photoCam widgetVar="photoCam2" listener="#{mailListBean.mailBean.cameraBean.onCapture}" update="croppedPhoto" 
								styleClass="foto" rendered="#{mailListBean.mailBean.cameraBean.render}" forceFlash="true"/>
					<p:commandButton value="Capturar" type="button" onclick="PF('photoCam2').capture();" style="float: right; padding: 2px; margin: 15px 0px;"/>
				</p:panel>
				<p:outputPanel id="croppedPhoto" style="width: 480px; height: 360px" styleClass="foto">
					<p:imageCropper value="#{mailListBean.mailBean.cameraBean.croppedImage}" image="#{mailListBean.mailBean.cameraBean.image.path}" 
									initialCoords="0,0,480,240" minSize="480,240" maxSize="480,240"/>
				</p:outputPanel>
			</p:panelGrid>
			<p:commandButton value="Cancelar" type="button" onclick="PF('signatureCameraDialog').hide();" style="float: right; padding: 2px; margin: 15px 5px; width: 90px"/>
			<p:commandButton value="Recortar" update="@widgetVar(signature)" oncomplete="PF('signatureCameraDialog').hide();"
							 style="float: right; padding: 2px; margin: 15px 5px; width: 90px" global="false">
				<f:setPropertyActionListener value="#{mailListBean.mailBean.cameraBean.image}" target="#{mailListBean.mailBean.signature}"/>
			</p:commandButton>
		</h:form>
	</p:dialog>

	<p:dialog widgetVar="takerDialog" draggable="false" resizable="false" modal="true" closable="false" 
			  visible="false" style="background: #f9f9f9" dynamic="true">
		<f:facet name="header">
			<p:graphicImage value="../images/user_ico.png"/>
			<p:outputLabel value="#{msg['header.person.register']}"/>
		</f:facet>
		<h:form id="person-details-form">
			<p:panelGrid id="model-details" styleClass="no-background no-border no-margin" style="margin: 10px 0px 0px 0px;" cellpadding="10">
				<p:row>
					<p:column styleClass="my-account-col2">
						<p:panelGrid columns="3" styleClass="userPanel no-border no-background" style="width: 100%; margin: 0; padding: 0;">
						<p:row>
							<p:column styleClass="labelClm"><p:outputLabel id="identityLabel" for="identity" value="CPF: "/></p:column>
							<p:column colspan="2" styleClass="fieldClm">
								<h:inputHidden id="identity" value="#{mailListBean.mailBean.takerBean.person.identity}"/>
								<p:inputMask value="#{mailListBean.mailBean.takerBean.identity}" mask="999.999.999-99" 
											 disabled="#{mailListBean.mailBean.takerBean.person.id > 0}">
									<p:ajax event="change" listener="#{mailListBean.mailBean.takerBean.onSearchByCPF}"	
											update="@form,:outputMsg" partialSubmit="true" process="@this"/>
								</p:inputMask>
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="labelClm"><p:outputLabel for="firstName" value="Nome: "/></p:column>
							<p:column colspan="2" styleClass="fieldClm">
								<p:inputText id="firstName" value="#{mailListBean.mailBean.takerBean.person.name}" required="true" lang="pt" 
											 requiredMessage="#{msg['msg.person.name.empty']}" maxlength="45"
											 validatorMessage="O nome deve conter somente letras">
        							<f:validateRegex pattern="^([\s]*\p{L}[\s]*)+$" />
								</p:inputText>
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="labelClm"><p:outputLabel for="lastName" value="Sobrenome: "/></p:column>
							<p:column colspan="2" styleClass="fieldClm">
								<p:inputText id="lastName" value="#{mailListBean.mailBean.takerBean.person.surname}" required="true" 
											 requiredMessage="#{msg['msg.person.surname.empty']}" maxlength="45"
											 validatorMessage="O sobrenome deve conter somente letras">
        							<f:validateRegex pattern="^([\s]*\p{L}[\s]*)+$" />
								</p:inputText>
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="labelClm"><p:outputLabel for="gender" value="Sexo:"/></p:column>
							<p:column colspan="2" styleClass="fieldClm">
								<p:selectOneRadio id="gender" value="#{mailListBean.mailBean.takerBean.person.gender}" styleClass="kintype" style="vertical-align: middle">
									<f:selectItems var="gender" value="#{mailListBean.mailBean.takerBean.genders}" itemLabel="#{msg[gender.label]}"/>
								</p:selectOneRadio>
							</p:column>
						</p:row>
						<p:row>
							<p:column styleClass="labelClm"><p:outputLabel for="remark" value="Observação:"/></p:column>
							<p:column colspan="2" styleClass="fieldClm">
								<p:inputText id="remark" value="#{mailListBean.mailBean.takerBean.person.remark}" maxlength="45"/>
							</p:column>
						</p:row>
						</p:panelGrid>
					</p:column>
					<p:column styleClass="my-account-col1">
						<p:panelGrid columns="2" columnClasses="picture" styleClass="pic-cmds no-border no-background" style="text-align: center; float: right">
							<p:commandLink title="#{msg['tooltip.take.picture']}" actionListener="#{mailListBean.mailBean.takerBean.cameraBean.setRender(true)}" 
										   update=":person-camera-form" oncomplete="PF('takerCameraDialog').show();" 
										   partialSubmit="true" global="false" process="@this" styleClass="column">
								<h:graphicImage value="../images/take-pic.png" width="38" height="31"/>
								<f:setPropertyActionListener target="#{mailListBean.mailBean.takerBean.cameraBean.image.path}" value=""/>
							</p:commandLink>
							<p:panel styleClass="user-image foto no-margin no-background2" style="width: #{mailListBean.mailBean.takerBean.cameraBean.width}px !important; height: #{mailListBean.mailBean.takerBean.cameraBean.height}px !important">
								<p:graphicImage id="portrait" value="#{mailListBean.mailBean.takerBean.image.path}" width="#{mailListBean.mailBean.takerBean.cameraBean.width}" height="#{mailListBean.mailBean.takerBean.cameraBean.height}" cache="false"/>
							</p:panel>
						</p:panelGrid>
					</p:column>
				</p:row>
			</p:panelGrid>
			<p:commandButton value="#{msg['cancel']}" type="button" onclick="PF('takerDialog').hide();" 
							 style="float: right; width: 90px; margin: 0px 0px 10px 0px;"/>
			<p:commandButton value="#{msg['save']}" actionListener="#{mailListBean.mailBean.takerBean.onPersonSave}" update=":outputMsg" 
							 oncomplete="if (!args.validationFailed &amp;&amp; !args.exception) {PF('takerDialog').hide();}" 
							 style="float: right; width: 90px; margin: 0px 10px 10px 5px;">
				<f:setPropertyActionListener target="#{mailListBean.mailBean.mail.taker}" value="#{mailListBean.mailBean.takerBean.person}"/>
			</p:commandButton>
		</h:form>
	</p:dialog>
	
	<p:dialog id="takerCameraDialog" widgetVar="takerCameraDialog" resizable="false" 
			  draggable="false" modal="true" closeOnEscape="true" visible="false" width="725" style="background: #f9f9f9">
		<f:facet name="header">
			<p:graphicImage value="../images/picture_ico.png"/>
			<p:outputLabel value="Captura de Imagem"/>
		</f:facet>
		<h:form id="person-camera-form">
			<p style="text-align: justify;"><h:outputText value="#{msg['msg.person.camera.instructions']}"/></p>
			<p:panelGrid columns="2" styleClass="no-border no-background">
				<p:photoCam widgetVar="takerPhotoCam" listener="#{mailListBean.mailBean.takerBean.cameraBean.onCapture}" update="croppedPhoto" styleClass="foto" rendered="#{mailListBean.mailBean.takerBean.cameraBean.render}" forceFlash="true"/>
				<p:outputPanel id="croppedPhoto" style="width: 320px; height: 240px" styleClass="foto">
					<p:imageCropper value="#{mailListBean.mailBean.takerBean.cameraBean.croppedImage}" image="#{mailListBean.mailBean.takerBean.cameraBean.image.path}" 
									initialCoords="0,0,#{mailListBean.mailBean.takerBean.cameraBean.width},#{mailListBean.mailBean.takerBean.cameraBean.height}" 
									minSize="#{mailListBean.mailBean.takerBean.cameraBean.width},#{mailListBean.mailBean.takerBean.cameraBean.height}" 
									maxSize="#{mailListBean.mailBean.takerBean.cameraBean.width},#{mailListBean.mailBean.takerBean.cameraBean.height}"/>
				</p:outputPanel>
			</p:panelGrid>
			<p:commandButton value="Recortar" actionListener="#{mailListBean.mailBean.takerBean.cameraBean.onCropp}" 
							 update=":person-details-form:portrait" global="false" oncomplete="PF('takerCameraDialog').hide();"
							 style="float: right; padding: 2px; margin: 15px 5px;">
				<f:setPropertyActionListener value="#{mailListBean.mailBean.takerBean.cameraBean.image}" target="#{mailListBean.mailBean.takerBean.image}"/>
			</p:commandButton>
			<p:commandButton value="Capturar" type="button" onclick="PF('takerPhotoCam').capture();" style="float: right; padding: 2px; margin: 15px 5px;"/>
		</h:form>
	</p:dialog>

</f:view>