<?xml version="1.0" encoding="ISO-8859-1"?>

<f:view
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<ui:composition template="main-template.xhtml">
		<ui:define name="app-view">
			<p:tabView id="mailTabs" style="padding: 0; margin: 10px" styleClass="supplier">
				<p:tab title="Busca">
					<h:form id="mail-form">
						<p:panelGrid columns="2" columnClasses="col30,mailClm" styleClass="no-margin4 no-border no-background" style="width: 100%;">
							<p:outputLabel value="Identificador:" rendered="#{mailBean.mailId > 0}" style="vertical-align: top !important"/>
							<h:outputText value="#{mailBean.mailId}" rendered="#{mailBean.mailId > 0}" style="vertical-align: top !important"/>
							<p:outputLabel for="recipient" value="Destinatário:" style="vertical-align: top !important"/>
							<p:column>
								<p:autoComplete id="recipient" widgetVar="recipient" value="#{mailBean.recipient}" 
												completeMethod="#{mailBean.onPersonComplete}" var="recipient" converter="personCompleteConverter"
												itemLabel="#{mailBean.displayName(recipient)}" itemValue="#{recipient}" panelStyle="font-size: 14px" 
												style="width: 100%; color: #000000 !important; vertical-align: top !important"
												required="true"	requiredMessage="Informe o destinatário da correspondência" styleClass="no-border" 
												itemtipAtPosition="right top" itemtipMyPosition="left" maxResults="10" readonly="#{mailBean.mailId > 0}">
									<p:ajax event="itemSelect" listener="#{mailBean.onRecipientSelect}" update="notify" global="false"/>
									<p:ajax event="blur" listener="#{mailBean.onRecipientUnselect}" update="notify" immediate="true" global="false"/>
									<p:ajax event="query" global="false" />
									<f:facet name="itemtip">
										<p:panel styleClass="foto no-margin no-background" style="width: 158px !important; height: 240px !important;">
											<p:graphicImage value="#{recipient.portrait.path}" cache="false" />
										</p:panel>
									</f:facet>
								</p:autoComplete>
							</p:column>
							<p:outputLabel for="code" value="Código:"/>
							<p:inputText id="code" value="#{mailBean.code}" readonly="#{mailBean.mailId > 0}" required="true" requiredMessage="Informe o código da correspodência"/>
							<p:outputLabel for="type" value="Tipo:"/>
							<p:selectOneRadio id="type" value="#{mailBean.type}" disabled="#{mailBean.mailId > 0}" style="width: 200px" required="true" requiredMessage="Informe o tipo da correspodência">
								<f:selectItems var="type" value="#{mailBean.mailTypes}" itemLabel="#{msg[type.label]}" itemValue="#{type}"/>
						   	</p:selectOneRadio>
						   	<p:outputLabel for="openDate" value="Recebida em:"/>
						   	<p:calendar id="openDate" lang="pt" value="#{mailBean.openDate}" readonly="#{mailBean.mailId > 0}"
						   				required="true" requiredMessage="Informe a data de recebimento da correspondência"/>
						</p:panelGrid>
						<p:spacer width="80%" height="1px" style="background: #cccccc; margin: 14px auto !important; display: block;" rendered="false"/>
						<p:panelGrid columns="1" styleClass="no-margin no-border no-background" style="width: 100%;">
							<p:selectBooleanCheckbox id="notify" value="#{mailBean.notify}" itemLabel="Notificar recebimento" 
													 rendered="false" disabled="#{!mailBean.notifyEnable}" 
													 style="margin: 10px 0px 5px 10px">
								<p:ajax event="change" update="close" partialSubmit="true" process="@this" global="false"/>
							</p:selectBooleanCheckbox>
	
							<p:selectBooleanCheckbox value="#{mailBean.close}" itemLabel="Correspondência já foi retirada" 
													 rendered="#{mailBean.mailId == 0}" style="margin: 5px 0px 10px 10px">
								<p:ajax event="change" update="close" partialSubmit="true" process="@this" global="false"/>
							</p:selectBooleanCheckbox>
	
						  	<p:panelGrid id="close" columns="2" columnClasses="col30,mailClm" styleClass="no-margin4 no-border no-background" style="width: 100%;">
							   	<p:outputLabel for="closeDate" value="Retirada em:" style="margin: 10px 0px !important"/>
							   	<p:calendar id="closeDate" value="#{mailBean.closeDate}" disabled="#{not mailBean.close}" 
							   				required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}" 
							   				requiredMessage="Informe a data de retirada da correspondência" style="width: 100% !important;"/>
							   	<p:outputLabel for="taker" value="Retirada por:"/>
								<p:autoComplete id="taker" widgetVar="taker" value="#{mailBean.taker}" completeMethod="#{mailBean.onPersonComplete}" 
												var="taker" itemLabel="#{taker.fullName}" itemValue="#{taker}" disabled="#{not mailBean.close}" 
												converter="personCompleteConverter" style="width: 100% !important; color: #000000 !important"
												required="#{not empty param[save.clientId] or facesContext.currentPhaseId.ordinal eq 6}"
												requiredMessage="Informe a pessoa que retirou a correspondência" styleClass="no-border" 
												itemtipAtPosition="right top" itemtipMyPosition="left" maxResults="10">
									<p:ajax event="itemSelect" global="false"/>
									<p:ajax event="blur" listener="#{mailBean.onTakerUnselect}" immediate="true" global="false"/>
									<p:ajax event="query" global="false" />
									<f:facet name="itemtip">
										<p:panel styleClass="foto no-margin no-background" style="width: 158px !important; height: 240px !important">
											<p:graphicImage value="#{taker.portrait.path}" cache="false" />
										</p:panel>
									</f:facet>
								</p:autoComplete>
								<p:outputLabel for="signature" value="Assinatura:"/>
								<p:column>
									<p:panelGrid columns="3" columnClasses="col15,col15top,col40" styleClass="no-border no-margin no-background" style="text-align: center; float: right; vertical-align: top; width: 100%">
										<p:panel id="signature" widgetVar="signature" styleClass="foto no-margin no-background" style="width: 240px !important; height: 120px !important">
											<p:graphicImage value="#{mailBean.image.path}" width="240" height="120" cache="false"/>
										</p:panel>
										<p:fileUpload label="" fileUploadListener="#{mailBean.imageUploadBean.onUpload}" auto="true"  disabled="#{not mailBean.close}"
													  update="@widgetVar(signaturePictureDialog)" oncomplete="PF('signaturePictureDialog').show();" style="margin-top: 5px;float:right"/>
										<p:commandLink title="#{msg['tooltip.take.picture']}" actionListener="#{mailBean.cameraBean.setRender(true)}" 
													   update="@widgetVar(signatureCameraDialog)" oncomplete="PF('signatureCameraDialog').show();" style="float:left" 
													   partialSubmit="true" global="false" process="@this" styleClass="column" disabled="#{not mailBean.close}">
											<h:graphicImage value="../images/take-pic.png" width="38" height="31"/>
											<f:setPropertyActionListener target="#{mailBean.cameraBean.image.path}" value=""/>
										</p:commandLink>
									</p:panelGrid>
								</p:column>
						  	</p:panelGrid>
						</p:panelGrid>
						<p:panel styleClass="no-border no-margin no-background" style="height: 50px">
							<p:commandButton value="Salvar" actionListener="#{mailBean.onMailOpen}" update="@form,:outputMsg"
											 style="float: right; width: 100px; padding: 5px !important; margin: 15px 5px 10px 0px;" binding="#{save}"/>
						</p:panel>
					</h:form>
				</p:tab>
				<p:tab title="Correspondências">
					<h:form>
						<p:panelGrid columns="4" style="width: 100%" styleClass="no-border no-background person-cmds5">
							<p:outputLabel value="Identificador: " style="vertical-align: top;"/>
							<p:inputText id="identifier" widgetVar="identifier" value="#{mailListBean.id}"/>
							<p:outputLabel value="Destinatario: " style="vertical-align: top;"/>
							<p:inputText id="name" widgetVar="name" value="#{mailListBean.name}"/>
							<p:outputLabel value="Data Inicial: " style="vertical-align: top;"/>
						   	<p:calendar id="beginDate" value="#{mailListBean.beginDate}"/>
							<h:outputText value="Data Final: " style="vertical-align: top;"/>
						   	<p:calendar id="endDate" value="#{mailListBean.endDate}"/>
						   	<p:column></p:column><p:column></p:column><p:column></p:column>
							<p:commandButton value="Buscar" actionListener="#{mailListBean.onMailSearch}" 
											 update="@widgetVar(mailTable)" style="font-size: 12px; margin: 0; padding:0; float: right"/>
						</p:panelGrid>
				
						<p:dataTable widgetVar="mailTable" id="mailTable" var="mail" value="#{mailListBean.mails}"  
						             paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="5"
						             paginatorTemplate="{PreviousPageLink} {CurrentPageReport} {NextPageLink}" 
						             currentPageReportTemplate="{totalRecords}" emptyMessage="Nenhuma correspodência encontrada" 
						             rowKey="#{mail.id}" styleClass="no-header no-border" tableStyleClass="no-border">
						    <p:ajax event="page" global="false"/>
							<p:column>
								<p:panelGrid columns="3" columnClasses="col20,nil,col20" styleClass="no-background no-border" style="text-align: center; font-size: 16px !important">
									<p:column>
										<h:graphicImage value="../images/telegram.png" width="25" height="25" style="float: left; margin-right: 7px" title="Notificado via telegram em 26/01/2017" rendered="false"/>
										<h:graphicImage value="../images/mail.png" width="25" height="25" style="float: left; margin-right: 7px" title="Notificado via e-mail em 26/01/2017" rendered="false"/>
										<h:graphicImage value="../images/phone.png" width="24" height="24" style="float: left" title="Notificado via interfone em 26/01/2017" rendered="false"/>
									</p:column>
									<p:column>
										<h:outputText value="#{msg[mail.type.label]} - "/>
										<h:outputText value="##{mail.id} - "/>
										<h:outputText value="#{mail.dateIn}">
						       				<f:convertDateTime pattern="dd/MM/yy" timeZone="America/Sao_Paulo" />
						       			</h:outputText>
									</p:column>
									<p:column>
										<p:commandLink title="Editar esta correspondência" 
													   oncomplete="PF('mailEditDialog').show();" 
													   partialSubmit="true" process="@this" update="@widgetVar(mailEditDialog)" 
													   global="false" style="float: right">
											<h:graphicImage value="../images/edit.png" width="25" height="25"/>
											<f:setPropertyActionListener target="#{mailListBean.mail}" value="#{mail}"/>
										</p:commandLink>
									</p:column>
								</p:panelGrid>
								<p:panelGrid styleClass="no-background no-border">
									<p:row>
										<p:column style="width: 60%"><p:outputLabel value="Destinatário"/></p:column>
										<p:column colspan="2"><p:outputLabel value="Unidade"/></p:column>
									</p:row>
									<p:row>
										<p:column colspan="3">
											<p:spacer width="100%" height="1px" style="background: #313131; display: block;"/>
										</p:column>
									</p:row>
									<p:row style="font-weight: normal;">
										<p:column>
											<h:outputText value="#{mail.recipient.fullName}" rendered="#{mail.recipient.id > 0}"/>
											<h:outputText value="#{mail.recipientName}" rendered="#{mail.recipient.id == 0}"/>
										</p:column>
										<p:column colspan="2">
											<h:outputText value="#{mailListBean.displayDomainName(mail.recipient.domain)}"/>
										</p:column>
									</p:row>
									<p:row>
										<p:column><p:outputLabel value="Retirada por"/></p:column>
										<p:column><p:outputLabel value="Retirada em"/></p:column>
										<p:column><p:outputLabel value="Código"/></p:column>
									</p:row>
									<p:row>
										<p:column colspan="3">
											<p:spacer width="100%" height="1px" style="background: #313131; display: block;"/>
										</p:column>
									</p:row>									
									<p:row style="font-weight: normal;">
										<p:column>
						       				<h:outputText value="#{mail.taker.fullName}" rendered="#{mail.dateOut != null and mail.takerId > 0}"/>
						       				<h:outputText value="#{mail.takerName}" rendered="#{mail.dateOut != null and mail.takerId == 0}"/>
										</p:column>
										<p:column>
							       			<h:outputText value="#{mail.dateOut}" rendered="#{mail.dateOut != null}">
							       				<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" />
							       			</h:outputText>
										</p:column>
										<p:column><h:outputText value="#{mail.code}"/></p:column>
									</p:row>
								</p:panelGrid>
							</p:column>
						</p:dataTable>
					</h:form>
				</p:tab>
			</p:tabView>
			
			<p:dialog widgetVar="mailEditDialog" draggable="false" resizable="false" modal="true" closable="true" 
					  visible="false" style="background: #f9f9f9" dynamic="true" width="580" closeOnEscape="true">
				<f:facet name="header">
					<p:graphicImage value="../images/user_ico.png" style="vertical-align: top; margin-right: 10px;"/>
					<p:outputLabel value="#{msg['header.person.register']}" style="vertical-align: top; line-height: 25px;"/>
				</f:facet>
				<h:form id="mail-edit-form">
				  	<p:panelGrid id="close" columns="2" columnClasses="col30,mailClm" styleClass="no-margin4 no-border no-background" style="width: 100%;">
					   	<p:outputLabel value="Destinatário:" style="margin: 10px 0px !important"/>
					   	<p:column>
					   		<h:outputText value="#{mailBean.displayName(mailListBean.mail.recipient)}" rendered="#{mailListBean.mail.recipientId > 0}"/>
					   		<h:outputText value="#{mailListBean.mail.recipientName}" rendered="#{mailListBean.mail.recipientId == 0}"/>
					   	</p:column>
					   	<p:outputLabel value="Código:" style="margin: 10px 0px !important"/>
					   	<p:column>
					   		<h:outputText value="#{mailListBean.mail.code}"/>
					   	</p:column>
					   	<p:outputLabel value="Tipo:" style="margin: 10px 0px !important"/>
					   	<p:column>
					   		<h:outputText value="#{msg[mailListBean.mail.type.label]}"/>
					   	</p:column>
					   	<p:outputLabel value="Recebida em:" style="margin: 10px 0px !important"/>
					   	<p:column>
					   		<h:outputText value="#{mailListBean.mail.dateIn}">
					   			<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" />
					   		</h:outputText>
					   	</p:column>
					   	<p:outputLabel for="closeDate" value="Retirada em:" style="margin: 10px 0px !important"/>
					   	<p:column>
						   	<p:calendar id="closeDate" value="#{mailListBean.mail.dateOut}" rendered="#{mailListBean.mail.dateOut == null}" 
						   				required="true" requiredMessage="Informe a data de retirada da correspondência" 
						   				style="width: 100% !important;"/>
					   		<h:outputText value="#{mailListBean.mail.dateOut}" rendered="#{mailListBean.mail.dateOut != null}">
					   			<f:convertDateTime pattern="dd/MM/yyyy" timeZone="America/Sao_Paulo" />
					   		</h:outputText>
					   	</p:column>
					   	<p:outputLabel for="taker" value="Retirada por:"/>
					   	<p:column>
							<p:autoComplete id="taker" widgetVar="taker" value="#{mailListBean.mail.taker}" completeMethod="#{mailBean.onPersonComplete}" 
											var="taker" itemLabel="#{mailBean.displayName(mailListBean.mail.taker)}" itemValue="#{taker}" panelStyle="font-size: 14px"
											converter="personCompleteConverter" style="width: 100% !important; color: #000000 !important"
											required="#{empty mailListBean.mail.takerName}"	requiredMessage="Informe a pessoa que retirou a correspondência" styleClass="no-border" 
											itemtipAtPosition="right top" itemtipMyPosition="left" maxResults="10"
											rendered="#{empty mailListBean.mail.takerName}">
								<p:ajax event="itemSelect" global="false"/>
								<p:ajax event="blur" listener="#{mailBean.onTakerUnselect}" immediate="true" global="false"/>
								<p:ajax event="query" global="false" />
								<f:facet name="itemtip">
									<p:panel styleClass="foto no-margin no-background" style="width: 158px !important; height: 240px !important">
										<p:graphicImage value="#{taker.portrait.path}" cache="false" />
									</p:panel>
								</f:facet>
							</p:autoComplete>
					   		<h:outputText value="#{mailBean.displayName(mailListBean.mail.taker)}" 
					   					  rendered="#{mailListBean.mail.taker != null and mailListBean.mail.takerId > 0}"/>
					   		<h:outputText value="#{mailListBean.mail.takerName}" 
					   					  rendered="#{mailListBean.mail.taker != null and mailListBean.mail.takerId == 0}"/>
					   	</p:column>
					   	<p:outputLabel value="Assinatura:" style="margin: 10px 0px !important"/>
						<p:column>
							<p:panelGrid columns="3" columnClasses="col15,col15top,col40" styleClass="no-border no-margin no-background" style="text-align: center; float: right; vertical-align: top; width: 100%">
								<p:panel id="signature" widgetVar="signature" styleClass="foto no-margin no-background" style="width: 240px !important; height: 120px !important">
									<p:graphicImage value="#{mailListBean.image.path}" width="240" height="120" cache="false"/>
								</p:panel>
								<p:fileUpload label="" fileUploadListener="#{mailBean.imageUploadBean.onUpload}" auto="true"
											  update="@widgetVar(signaturePictureDialog)" oncomplete="PF('signaturePictureDialog').show();" 
											  style="margin-top: 5px;float:right"/>
								<p:commandLink title="#{msg['tooltip.take.picture']}" actionListener="#{mailBean.cameraBean.setRender(true)}" 
											   update="@widgetVar(signatureCameraDialog)" oncomplete="PF('signatureCameraDialog').show();" 
											   partialSubmit="true" global="false" process="@this" style="float:left" styleClass="column">
									<h:graphicImage value="../images/take-pic.png" width="38" height="31"/>
									<f:setPropertyActionListener target="#{mailBean.cameraBean.image.path}" value=""/>
								</p:commandLink>
							</p:panelGrid>
						</p:column>
				  	</p:panelGrid>
					<p:panel styleClass="no-border no-margin no-background" style="height: 50px">
						<p:commandButton value="Salvar" actionListener="#{mailBean.onMailOpen}" update=":outputMsg"
										 style="float: right; width: 100px; padding: 5px !important; margin: 15px 5px 10px 0px;" />
					</p:panel>
				</h:form>
			</p:dialog>

			<p:dialog id="signaturePictureDialog" widgetVar="signaturePictureDialog" modal="true" resizable="false" width="530" style="background: #f9f9f9">
				<f:facet name="header">
					<p:graphicImage value="../images/picture_ico.png" style="vertical-align: top; margin-right: 10px;"/>
					<p:outputLabel value="Envio de Foto" style="vertical-align: top; line-height: 22px"/>
				</f:facet>			
				<h:form id="mail-picture-form" enctype="multipart/form-data">
					<p style="text-align: justify;"><h:outputText value="#{msg['msg.vehicle.picture.instructions']}"/></p>
					<p:panelGrid columns="1" columnClasses="cropper" styleClass="no-margin no-border no-background" style="width: 100%;">
						<p:scrollPanel style="width: 510px; height: 330px; padding: 0 auto;" styleClass="no-margin no-border no-background cropper" mode="native">
							<p:outputPanel style="width: #{mailBean.imageUploadBean.image.width}px; height: #{mailBean.imageUploadBean.image.height}px;" styleClass="foto">
								<p:imageCropper value="#{mailBean.imageUploadBean.croppedImage}" image="#{mailBean.imageUploadBean.image.path}" 
												initialCoords="0,0,480,240" minSize="480,240" maxSize="480,240"/>
							</p:outputPanel>
						</p:scrollPanel>
						<p:panel style="text-align: center; padding: 10px 0px;" styleClass="no-border no-margin no-background">
							<p:commandButton value="Recortar" actionListener="#{mailBean.imageUploadBean.onCropp}" 
											 update="@widgetVar(signature)" oncomplete="PF('signaturePictureDialog').hide();"
											 style="margin-top: 10px; margin-bottom: 10px; margin-right: 5px;">
								<f:setPropertyActionListener value="#{mailBean.imageUploadBean.image}" target="#{mailBean.image}"/>
							</p:commandButton>
							<p:commandButton value="Cancelar" oncomplete="PF('signaturePictureDialog').hide();" partialSubmit="true" process="@this" 
											 global="false" style="margin-top: 10px; margin-bottom: 10px; margin-left: 5px;">
								<f:setPropertyActionListener target="#{mailBean.imageUploadBean.image.path}" value=""/>
							</p:commandButton>
						</p:panel>
					</p:panelGrid>
				</h:form>
			</p:dialog>
		
			<p:dialog id="signatureCameraDialog" widgetVar="signatureCameraDialog" modal="true" resizable="false" width="880" style="background: #f9f9f9">
				<f:facet name="header">
					<p:graphicImage value="../images/picture_ico.png" style="vertical-align: top; margin-right: 10px;"/>
					<p:outputLabel value="Captura de Imagem" style="vertical-align: top; line-height: 22px"/>
				</f:facet>
				<h:form id="mail-camera-form">
					<p style="text-align: justify;"><h:outputText value="#{msg['msg.vehicle.camera.instructions']}"/></p>
					<p:panelGrid columns="2" columnClasses="vertical,vertical" styleClass="no-border no-background">
						<p:panel styleClass="no-background no-border no-margin">
							<p:photoCam widgetVar="photoCam2" listener="#{mailBean.cameraBean.onCapture}" update="croppedPhoto" 
										styleClass="foto" rendered="#{mailBean.cameraBean.render}" forceFlash="true"/>
							<p:commandButton value="Capturar" type="button" onclick="PF('photoCam2').capture();" style="float: right; padding: 2px; margin: 15px 0px;"/>
						</p:panel>
						<p:outputPanel id="croppedPhoto" style="width: 480px; height: 360px" styleClass="foto">
							<p:imageCropper value="#{mailBean.cameraBean.croppedImage}" image="#{mailBean.cameraBean.image.path}" 
											initialCoords="0,0,480,240" minSize="480,240" maxSize="480,240"/>
						</p:outputPanel>
					</p:panelGrid>
					<p:commandButton value="Cancelar" type="button" onclick="PF('signatureCameraDialog').hide();" style="float: right; padding: 2px; margin: 15px 5px; width: 90px"/>
					<p:commandButton value="Recortar" update="@widgetVar(signature)" oncomplete="PF('signatureCameraDialog').hide();"
									 style="float: right; padding: 2px; margin: 15px 5px; width: 90px" global="false">
						<f:setPropertyActionListener value="#{mailBean.cameraBean.image}" target="#{mailBean.image}"/>
					</p:commandButton>
				</h:form>
			</p:dialog>
		</ui:define>
	</ui:composition>
</f:view>